{% extends "base.html" %}
{% block title %}502 - Kunjika{% endblock %}
{% block css_bootstrap %}
    {{ super() }}
    {# TODO: probably remove this and let the user set it manually? #}
    <style>
        body {
            padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
        }
    </style>
{% endblock %}
{% block css_site %}
    <link href="/static/css/kunjika.css" rel="stylesheet">
{% endblock %}
{% block container %}
<h3 class="error">Status code 502</h3>
    <p>Bad gateway. It has been logged and we are working on this.</p>
{% endblock %}