{% extends "base.html" %}
{% block title %}Administration - Kunjika{% endblock %}

{% block css_site %}
    <link href="/static/css/wmd.css" rel="stylesheet">
    <script src="/static/js/jquery.cookie.js"></script>
    <script src="https://malsup.github.com/jquery.form.js"></script>
    {{ super() }}
{% endblock %}
{% block container %}
    <div class="row">
       <div class="col-md-9">
            <a href="/add_objective_question"><h4>Add Objective Question</h4></a>
            <a href="/browse_objective_questions"><h4>Browse Objective Questions</h4></a>
            <hr/>
            <div class="userheader">
                <h4>Send Bulk Email</h4>
                <form class="ask-form" method="post" aciton="/administration">
                    {% from "macros.html" import render_field %}
                    {{ form.csrf_token }}
                    {{ render_field(form.subject, class="question input-x-large span8", style="margin-left:25px;") }}
                    {{ render_field(form.bulk_mail, class="question input-x-large span8", style="margin-left:35px;") }}
                    <div class="controls">
                        <input type="submit" class="btn btn-primary bemail" value="Send Bulk email">
                    </div>
                </form>
            </div>
            <hr/>
        </div>
        <div class="col-md-3">
             <div class="site-stats">
                <div class="module">
                    <span class="fa fa-question"></span>
                    <span class="summary-count">{{ qcount }}</span>
                    <span class="summary-text">questions</span>
                </div>
                <div class="module">
                    <span class="fa fa-comment"></span>
                    <span class="summary-count">{{ acount }}</span>
                    <span class="summary-text">answers</span>
                </div>
                <div class="module">
                    <span class="fa fa-users"></span>
                    <span class="summary-count">{{ ucount }}</span>
                    <span class="summary-text">users</span>
                </div>
                <div class="module">
                    <span class="fa fa-tags"></span>
                    <span class="summary-count">{{ tcount }}</span>
                    <span class="summary-text">tags</span>
                </div>
            </div>
            <div class="popular-tags" class="module">
                <div class="page-header">
                    <h4>Popular Tags</h4>
                </div>
                
                {% for tag in tag_list %}
                    <a href="/questions/tagged/{{ tag['tag'] }}" class="post-tag" title="show questions tagged '{{ tag['tag'] }}'" rel="tag">
                        {{ tag['tag'] }} 
                        <span class="tag-count">{{ tag['count'] }}</span> 
                    </a>
                    
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
