{% extends "base.html" %}
{% block title %}{{ title }} - Kunjika{% endblock %}

{% block container %}
    <div class="row">
   <div class="col-md-9">
    {% if pagination is not defined %}
    {% else %}
        <div id="tags" style="width:100%">
            <table>
                {% set i = 0 %}
                {% for tag in tags %}
                    {% if i < no_of_tags %}
                        {% if (no_of_tags - i) > 4 %}
                            {% set k = 4 %}
                        {% else %}
                            {% set k = no_of_tags - i %}
                        {% endif %}
                        <tr>
                            {% for j in range(0, k) %}
                                <td class="tag-cell col-sm-3 col-xs-6">
                                    <a href="/articles/tagged/{{ tags[i+j]['key']|urlencode }}" class="post-tag" title="" rel="tag">{{ tags[i+j]['key'] }}</a><span class="item-multiplier-x">×</span>&nbsp;<span
                                        class="item-multiplier-count">{{ tags[i+j]['value'] }}</span>

                                    <!--a href="/info/{{ tags[i+j]['key'] }}">info</a>
                                    {% if 'excerpt' in tags[i+j] %}
                                    <div class="excerpt">{{ tags[i+j]['excerpt'] }}
                                    {{ tags[i+j]['info'][:108] }}
                                    </div>
                                    {% endif %}-->
                                    <div>
                                        <div class="cbt"></div>
                                    </div>
                                </td>
                            {% endfor %}
                            {% set i = i + 4 %}
                        </tr>
                    {% endif %}
                {% endfor %}
            </table>
            {{ render_pagination(pagination) }}
        </div>
    {% endif %}
    </div>
    </div>
{% endblock %}
