{% extends "base.html" %}
{% block title %}{{ title }} - Kunjika{% endblock %}
{% block css_bootstrap %}
    {{ super() }}
    {# TODO: probably remove this and let the user set it manually? #}
    <style>
        body {
            padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
        }
    </style>
{% endblock %}

{% block css_site %}
    <link href="/static/css/base.css" rel="stylesheet">
    <link href="/static/css/wmd.css" rel="stylesheet">
    <script type="text/javascript" src="/static/js/Markdown.Converter.js"></script>
    <script type="text/javascript" src="/static/js/Markdown.Sanitizer.js"></script>
    <script type="text/javascript" src="/static/js/Markdown.Editor.js"></script>

{% endblock %}
{% block container %}
    <div class="masthead">
    <h3 class="muted">Kunjika</h3>

    <div class="navbar">
        <div class="navbar-inner">
            <div class="container">
                <ul class="nav">
                    <li><a href="/questions">Questions</a></li>
                    <li><a href="/tags">Tags</a></li>
                    <li><a href="/users">Users</a></li>
                    <li><a href="/unasnweres">Unanswered</a></li>
                    <li class="active"><a href="/ask" class="ask">Ask</a></li>
                    {% if logged_in is defined %}
                        <li><a href="/users/{{ user_id }}" class="login">{{ fname }}</a></li>
                        <li><a href="/logout" class="login">Logout</a></li>
                    {% else %}
                        <li><a href="/login" class="login">Login</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
    <!-- /.navbar -->
    <div class="row-fluid">
    <div class="askbar" id="askbar">
        <form class="ask-form" method="post" aciton="/ask_question">
            {% from "macros.html" import render_field %}
            {{ form.csrf_token }}
            {{ render_field(form.question, class="question input-x-large span6", style="margin-left:25px;", placeholder="Please ask your question here?") }}
            <div class="wmd-panel">
                <div id="wmd-button-bar"></div>
                {{ render_field(form.description, class="wmd-input", id="wmd-input", stlyle="margin-left:5px;", placeholder="Please describe your question here.") }}
                <div id="wmd-preview" class="wmd-panel wmd-preview"></div>
            </div>
        </form>
    </div>
    <div id="sidebar" style="float:right">
        side bar
    </div>
{% endblock %}

{% block page_footer %}
<div class="row-fluid">
<div class="container">
    <hr/>
        <p>&copy; 2013 <a href="http://libreprogramming.org">libreprogramming.org</a>. Developed by Binita Ruby,
            Shashikant &amp; Shiv Shankar Dayal.<br/>
            Licensed under GNU GPL. Contents are under GNU GPL.</p>
</div>
</div>
</div>
    <script type="text/javascript">
        (function () {
            var converter1 = Markdown.getSanitizingConverter();

            converter1.hooks.chain("preBlockGamut", function (text, rbg) {
                return text.replace(/^ {0,3}""" *\n((?:.*?\n)+?) {0,3}""" *$/gm, function (whole, inner) {
                    return "<blockquote>" + rbg(inner) + "</blockquote>\n";
                });
            });

            var editor1 = new Markdown.Editor(converter1);

            editor1.run();
        })();
    </script>
{% endblock %}
