<!DOCTYPE html>
<html lang="{% block html_lang %}en{% endblock %}">
<head>
    {% from "macros.html" import debugmin %}
    {% from "macros.html" import render_pagination %}
    {% from "macros.html" import render_user_question_pagination %}
    {% from "macros.html" import render_user_answer_pagination %}
    {% from "macros.html" import render_search_pagination %}
    {% block head %}
            {% block google_analytics %}
                {% if not DEBUG %}
                    <script>
                        (function (i, s, o, g, r, a, m) {
                            i['GoogleAnalyticsObject'] = r;
                            i[r] = i[r] || function () {
                                (i[r].q = i[r].q || []).push(arguments)
                            }, i[r].l = 1 * new Date();
                            a = s.createElement(o),
                                    m = s.getElementsByTagName(o)[0];
                            a.async = 1;
                            a.src = g;
                            m.parentNode.insertBefore(a, m)
                        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

                        ga('create', 'UA-17487464-6', '10hash.com');
                        ga('send', 'pageview');

                    </script>
                {% endif %}
            {% endblock %}

        <title>{% block title %}{{ title }}{% endblock %}</title>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    {% if category == 'error' %}
                        <div class="alert alert-error centered-seven-fifty-px">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            {{ message }}
                        </div>
                    {% elif category == 'success' %}
                        <div class="alert alert-success centered-seven-fifty-px">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            {{ message }}
                        </div>
                    {% elif category == 'info' %}
                        <div class="alert alert-info centered-seven-fifty-px">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            {{ message }}
                        </div>
                    {% elif category == 'block' %}
                        <div class="alert alert-block centered-seven-fifty-px">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            {{ message }}
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endwith %}
        {% block meta %}
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta name="description" content="{% block meta_description %}{% endblock %}">
            <meta name="author" content="{% block meta_author %}{% endblock %}">
            <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
        {% endblock %}

        {% block css_bootstrap %}
            <link href="/static/css/bootstrap{{ debugmin() }}.css" rel="stylesheet">
        {% endblock %}
        {% block css_bootstrap_responsive %}
            <link href="/static/css/bootstrap-responsive{{ debugmin() }}.css" rel="stylesheet">
			<!--link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet"-->
            <link rel="stylesheet" href="/static/css/font-awesome.css">
            <!--[if IE 7]>
	            <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome-ie7.css">
	        <![endif]-->
        {% endblock %}
        {% block js_jquery %}
            <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
            <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.22/jquery-ui.min.js"></script>
            <script>window.jQuery || document.write('<script src="/static/js/jquery-ui.min.js"><\/script>')</script>
            <script type="text/javascript" src="/static/js/jquery.ajaxfileupload.js"></script>
            <script>window.jQuery || document.write('<script src="/static/js/jquery-migrate-1.2.1.js"><\/script>')</script>

            <script type="text/javascript"
                    src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
            <script>window.jQuery || document.write('<script src="/static/js/MathJax.js?config=TeX-AMS-MML_HTMLorMML"><\/script>')</script>
            <script type="text/x-mathjax-config">
                MathJax.Hub.Config({
                tex2jax: {inlineMath: [['\\(','\\)'], ['\\[','\\]']]},
                processEscapes: true
                });

            </script>
            <script type="text/javascript" src="/static/js/bootstrap-flash.js">
            </script>
            <script type="text/javascript">if ( $.attrFn ) { $.attrFn.text = true; }</script>
            <script type="text/javascript">var switchTo5x=true;</script>
            <script type="text/javascript" src="https://ws.sharethis.com/button/buttons.js"></script>
            <script type="text/javascript" src="https://s.sharethis.com/loader.js"></script>
        {% endblock %}
        {% block css_site %}
        {% endblock %}
        {% block css_extra %}
        {% endblock %}

        {% block js_html5_shim %}
            <!--[if lt IE 9]>
          <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
          <![endif]-->
        {% endblock %}
        {% block js_head %}
        {% endblock %}
    {% endblock %}
</head>

{# TODO: write a class builder macro #}
<body class="{% block body_classes %}{% endblock %}" id="{% block body_id %}{% endblock %}"
        {% block bodytag_extra %}{% endblock %}>
<div id="row-fluid">
    {% block body %}

        {% block navbar_wrapper %}
            <div class="navbar navbar-fixed-top">
                <div class="navbar-inner">
                    <div class="container-fluid">
                        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="brand" style="padding:8px 8px" href="/"><b>10hash</b> </a>
                        <div class="nav-collapse collapse">
                            <ul class="nav">
                                <li class="dropdown">
                                    <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                                        <i class="icon-question"></i>
                                        {% if qpage is defined or apage is defined or unpage is defined %}
                                        <b>Questions</b>
                                        {% else %}
                                        Questions
                                        {% endif %}
                                        <b class="caret"></b>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="/questions">Browse</a></li>
                                        <li><a href="/ask">Ask</a></li>
                                        <li><a href="/unanswered">Unanswered</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                                        <i class="icon-book"></i>
                                        {% if artpage is defined %}
                                        <b>Articles</b>
                                        {% else %}
                                        Articles
                                        {% endif %}
                                        <b class="caret"></b>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="/articles">Browse</a></li>
                                        <li><a href="/write">Write</a></li>
                                        <li><a href="/article_tags">Article Tags</a></li>
                                        <li><a href="/drafts">My Drafts</a></li>
                                    </ul>
                                </li>
                                {% if tpage is defined %}
                                    <li><a href="/tags"><i class="icon-tags"></i> <b>Tags</b></a></li>
                                {% else %}
                                    <li><a href="/tags"><i class="icon-tags"></i> Tags</a></li>
                                {% endif %}
                                {% if upage is defined %}
                                    <li><a href="/users"><i class="icon-user"></i> <b>Users</b></a></li>
                                {% else %}
                                    <li><a href="/users"><i class="icon-user"></i> Users</a></li>
                                {% endif %}
                                {% if ppage is defined %}
                                    <li><a href="/poll" class="poll"><i class="icon-group"></i>
                                        <b>Poll</b></a>
                                    </li>
                                {% else %}
                                    <li><a href="/poll" class="poll"><i class="icon-group"></i> Poll</a></li>
                                {% endif %}
                                {% if user_id is defined and g.user.is_authenticated() %}
                                    <!-- li class="active"><a href="/users/{{ g.user.id }}/{{ g.user.fname }}%20{{ g.user.lname }}" class="login"><i
                                            class="icon-sigin"></i> <b>{{ g.user.name }}</b></a></li-->
                                    <li class="dropdown">
                                        <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                                            <b>{{ g.user.name }}</b>
                                            <b class="caret"></b>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li><a href='/users/{{ g.user.id }}/{{g.user.name|urlencode}}'>Profile</a></li>
                                            <li><a href="/users/{{ g.user.id }}/{{ g.user.name|urlencode }}/settings">Settings</a></li>
                                            <!--li><a href="/users/{{ user_id }}/{{ name|urlencode }}/groups">My Groups</a></li>
                                            <li><a href="/users/{{ user_id }}/{{ name|urlencode }}/group_messages">Group Messages</a></li-->
                                        </ul>
                                    </li>
                                    {% if role == "admin" and adpage == True %}
                                        <li><a href="/administration" class="administration"> <b>Administration</b></a>
                                        </li>
                                    {% elif role == "admin" and adpage != True %}
                                        <li><a href="/administration" class="administration"> Administration</a>
                                        </li>
                                    {% endif %}
                                    <li><a href="/logout" class="login"><i class="icon-signout"></i> Logout</a>
                                    </li>
                                {% else %}
                                    <li><a href="/login" class="login"><i class="icon-signin"></i> Login</a></li>
                                {% endif %}
                                <li><a href="/recent-questions.atom" class="ask"><i class="icon-rss-sign"></i>
                                    Feed</a></li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i
                                            class="icon-search"></i>
                                        Search
                                        <b class="caret"></b>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <div class="span6">
                                            <script>
                                              (function() {
                                                var cx = '000002629091691089689:clsskp1pmkm';
                                                var gcse = document.createElement('script');
                                                gcse.type = 'text/javascript';
                                                gcse.async = true;
                                                gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
                                                    '//www.google.com/cse/cse.js?cx=' + cx;
                                                var s = document.getElementsByTagName('script')[0];
                                                s.parentNode.insertBefore(gcse, s);
                                              })();
                                            </script>
                                            <gcse:searchbox-only></gcse:searchbox-only>
                                        </div>
                                        <div class="span6" style="margin-top: 40px">
                                            <form class="form-search" action="/search" method="get">
                                                <div style="margin-left: 20px; margin-top: -10px" class="input-append">
                                                    <input type="text" class="span2 search-query" id="query"
                                                           name="query">
                                                    <button type="submit" class="btn">Kunjika Search</button>
                                                </div>
                                            </form>
                                            <a href="/search-help" style="margin-top: -92px; margin-left: 340px"
                                               class="btn btn-success">Search Help</a>
                                        </div>
                                    </ul>
                                </li>

                            </ul>
                        </div>
                        <!--/.nav-collapse -->
                    </div>
                </div>
            </div>
        {% endblock %}

        {% block pre_container %}
        {% endblock %}

        {% block container_wrapper %}
            <div class="container container-primary">
                {% block container %}

                    {% block pre_content %}
                    {% endblock %}

                    {% block content %}
                    {% endblock %}


                    {% block post_content %}
                    {% endblock %}

                {% endblock %}

            </div>
        {% endblock %}


        {% block post_container %}
        {% endblock %}


        {% block js_bootstrap %}
            <script src="/static/js/bootstrap{{ debugmin() }}.js"></script>
        {% endblock %}
        {% block js_analytics %}
            {# Via HTML5BP. Asynchronous Google Analytics snippet. mathiasbynens.be/notes/async-analytics-snippet #}

        {% endblock %}


    {% endblock %}
</div>
{% block page_footer %}
    <div class="row-fluid">
        <div class="container">
            <hr/>
            <p>&copy; 2013-14 <a href="https://10hash.com">10hash.com</a>. Developed by Binita Ruby,
                Shashikant &amp; Shiv Shankar Dayal.<br/>
                Licensed under GNU GPLv3. Contents are under GNU GPLv3 and GNU FDL latest versions
                as applicable on code and documentation portions.</p>
        </div>
    </div>
{% endblock %}
<script type="text/javascript">stLight.options({publisher: "1d36ed06-99ee-4bfb-8238-67ec3c7487f0", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
<script>
var options={ "publisher": "1d36ed06-99ee-4bfb-8238-67ec3c7487f0", "position": "left", "ad": { "visible": false, "openDelay": 5, "closeDelay": 0}, "chicklets": { "items": ["googleplus", "facebook", "twitter", "linkedin", "email", "sharethis"]}};
var st_hover_widget = new sharethis.widgets.hoverbuttons(options);
</script>
</body>
</html>
