{% extends "base.html" %}
{% block title %}{{ title }} - Kunjika{% endblock %}
{% block css_bootstrap %}
    {{ super() }}
    <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
    <META HTTP-EQUIV="Expires" CONTENT="-1">
{% endblock %}

{% block css_site %}
    <link href="/static/css/wmd.css" rel="stylesheet">
    <link href="/static/css/token-input.css" rel="stylesheet">
    {{ super() }}
    <script type="text/javascript" src="/static/js/Markdown.Converter.js"></script>
    <script type="text/javascript" src="/static/js/Markdown.Sanitizer.js"></script>
    <script type="text/javascript" src="/static/js/Markdown.Editor.js"></script>
    <script type="text/javascript" src="/static/js/Markdown.Extra.js"></script>
    <script type="text/javascript" src="/static/js/jquery.tokeninput.js"></script>
{% endblock %}
{% block container %}
    <div class="row">
       <div class="col-md-9">
            <div id="qsummary">
		{% if articles|length == 0 %}
			<h3> No Articles Yet! Why don't you write first one!</h3>
		{% endif %}
            <h4><a href="/write">Write New Article</a></h4>
                {% for article in articles %}
                    <div id="qsummary-{{ article['aid'] }}" class="qsummary narrow">
                    <div class="asummary">
                        <h4>
                            <a class="question-hyperlink"
                           href="/articles/{{ article['aid'] }}/{{ article['url'] }}"
                           title="{{ article['content'][:200] }}" > {{ article['title'] }}</a>
                        </h4>
                        <div class="tags">
                            <i class="fa fa-tags" style="color:#a4c639;"></i>
                            {% for tag in article['tags'] %}
                                <a class="post-tag" href="/articles/tagged/{{ tag|urlencode }}">{{ tag }}</a>
                            {% endfor %}
                        </div>
                        <div class="started">
                            <p>Written on {{ article['tstamp'] }} by <a
                                href="/users/{{ article['op'] }}/{{ article['opname']|urlencode }}">{{ article['opname'] }}</a>
                            </p>
                        </div>
                    </div>
                    </div>
                {% endfor %}
            </div>
        <div style="clear:both"></div>
            {{ render_pagination(pagination) }}
        </div>
{% endblock %}
