{% extends "base.html" %}
{% block title %}{{ title }} - Kunjika{% endblock %}
{% block css_bootstrap %}
    {{ super() }}
    <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
    <META HTTP-EQUIV="Expires" CONTENT="-1">
{% endblock %}

{% block css_site %}
    <link href="/static/css/wmd.css" rel="stylesheet">
    <link href="/static/css/prettify.css" rel="stylesheet">
    <link href="/static/css/token-input.css" rel="stylesheet">
    {{ super() }}
    <script type="text/javascript" src="/static/js/Markdown.Converter.js"></script>
    <script type="text/javascript" src="/static/js/Markdown.Sanitizer.js"></script>
    <script type="text/javascript" src="/static/js/Markdown.Editor.js"></script>
    <script type="text/javascript"
            src="/static/js/run_prettify.js?lang=clj&amp;lbg=erlang&amp;lang=matlab&amp;lang=sql&amp;lang=vb&amp;lang=css&amp;lang=go&amp;lang=pascal&amp;lan=tcl&amp;lang=yaml&amp;lan=basic&amp;lang=dart&amp;lan=lua&amp;lang=scala&amp;lang=wiki&amp;lang=tex"></script>
    <script type="text/javascript" src="/static/js/Markdown.Extra.js"></script>
    <script type="text/javascript" src="/static/js/jquery.tokeninput.js"></script>
{% endblock %}
{% block container %}
    <div class="row">
       <div class="col-md-9">
            <div id="qsummary">
                <h3>Questions in Technology: {{ tech }} Category: {{ cat }}</h3>
                {% for question in questions %}
                    <div id="qsummary-{{ question['qid'] }}" class="qsummary narrow">
                        <div class="summary">
                            <h4><a class="question-hyperlink"
                                   href="/browse_objective_questions/{{ question['qid'] }}"
                                   title="{{ question['content']['description'][:200] }}" >
                                {% if 'sticky' in question and question['sticky'] == True %}
                                <i class="fa fa-pushpin"></i> {{ question['content']['description'][:50] }}</a>
                                {% else %}
                                    {{ question['content']['description'][:50] }}</a>
                                {% endif %}
                            </h4>
                        </div>
                        <a href="/edit_test/{{ question['qid'] }}" class="edit-test" title=""><i
                                        class="fa fa-edit"></i> Edit</a>
                    </div>
                {% endfor %}
            </div>
        <div style="clear:both"></div>
            {{ render_pagination(pagination) }}
        </div>
    </div>
{% endblock %}
