{% extends "base.html" %}
{% block title %}{{ title }} - Kunjika{% endblock %}
{% block css_bootstrap %}
    {{ super() }}
    {# TODO: probably remove this and let the user set it manually? #}
    <style>
        body {
            padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
        }
    </style>
{% endblock %}

{% block css_site %}
    <link href="/static/css/wmd.css" rel="stylesheet">
    <link href="/static/css/pygments.css" rel="stylesheet">
    <link href="/static/css/token-input.css" rel="stylesheet">
    <link href="/static/css/kunjika.css" rel="stylesheet">
    <link href="/static/css/solarized_light.css" rel="stylesheet">
    <script type="text/javascript" src="/static/js/Markdown.Converter.js"></script>
    <script type="text/javascript" src="/static/js/Markdown.Sanitizer.js"></script>
    <script type="text/javascript" src="/static/js/Markdown.Editor.js"></script>
    <script type="text/javascript" src="/static/js/Markdown.Extra.js"></script>
    <script type="text/javascript" src="/static/js/jquery.tokeninput.js"></script>
    <script src="/static/js/jquery.form.js"></script>
    <script type="text/javascript" src="/static/js/highlight.js"></script>
    <script type="text/javascript">hljs.initHighlightingOnLoad();</script>

{% endblock %}
{% block container %}
    <div class="row-fluid">
        <div id="mainbar" class="mainbar">
            <div class="subheader">
                <h3>Markdown help</h3>
            </div>
            <div id="help">&lt;a href="#code" id="code" class="markdown-help"&gt;Code and Preformatted Text&lt;/a&gt;

You need to fence the code with three backticks for code for example, following

    ```
    #include &lt;stdio.h&gt;
    ```
will render like

```c
#include &lt;stdio.h&gt;
```

while for preformatted text you need to indent the code with four space like

        #include &lt;stdio.h&gt;

will render like

    #include &lt;stdio.h&gt;

Markdown and HTML are ignored in both the above cases.

&lt;a href="#code-spans" id="code-spans" class="markdown-help"&gt;Code Spans&lt;/a&gt;

You ca use backtick to create inline `&lt;code&gt;` span. For example,

    `#include &lt;stdio.h&gt;`

will render as `#include &lt;stdio.h&gt;`. If the code contains backticks then you need to use
multiple backticks for this.For example,

    ``This code contains backticks.(`)``

will render as ``This code contains backticks.(`)``.

&lt;a href="#linebreaks" id="linebreaks" class="markdown-help"&gt;Linebreaks&lt;/a&gt;

You need to hit `Enter` or `Return` key twice i.e. leave a blank line between two lines to
enforce a line break. For example,

    First line

    Second line

will render as

First line

Second line

&lt;a href="#ib" id="ib" class="markdown-help"&gt;Italics and Bolds&lt;/a&gt;

`*This is italics*` and so is `_this_`. As rendered here *This is italics* and _this_.

Similarly, `**This is italics**` and so is `__this__`. As rendered here **This is bold** and __this__.

Combining both, `***This is italics and bold***` and so is `___this___`. As rendered here
***This is italics and bold*** and ___this___.

&lt;a href="#links" id="links" class="markdown-help"&gt;Links&lt;/a&gt;

Following are three ways to write links:

    This is an inline link to [10hash](https://10hash.com/).
    This is  a reference-style link to [10hash][1].
    This is a very readable link to [10hash.com][10hash].

    [1]: https://10hash.com/
    [10hash]: https://10hash.com/

The above will render as:

This is an inline link to [10hash](https://10hash.com/).
This is a reference-style link to [10hash][1].
This is a very readable link to [10hash.com][10hash].

[1]: https://10hash.com/
[10hash]: https://10hash.com/

The definitions at bottom like `1` and `10hash` can be any unique string and are
case-insensitive.

You can also have simple links like `https://10hash.com/` which will appear as
https://10hash.com/. You can also force URLs with angular brackets like
`&lt;http://some_url&gt;` will render like http://some_url.

You can also have title for links for describing them. Make these strings as descriptive as
possible for others to understand about it. For example,


    This is an inline link to [10hash](https://10hash.com/ "First title").
    This is  a reference-style link to [10hash][1].
    This is a very readable link to [10hash.com][10hash].

    [1]: https://10hash.com/ (Second title)
    [10hash]: https://10hash.com/ "Third title"

The above will render as:

This is an inline link to [10hash](https://10hash.com/ "First title").
This is a reference-style link to [10hash][1].
This is a very readable link to [10hash.com][10hash].

[1]: https://10hash.com/ (Second title)
[10hash]: https://10hash.com/ "Third title"

&lt;a href="#headers" id="headers" class="markdown-help"&gt;Headers&lt;/a&gt;

Following

    # Heading1 #
    ## Heading2 ##
    ### Heading3 ###
    #### Heading4 ####
    ##### Heading5 #####
    ###### Heading6 ######
    Heading1
    ========
    Heading2
    --------

will render like

# Heading1 #
## Heading2 ##
### Heading3 ###
#### Heading4 ####
##### Heading5 #####
###### Heading6 ######
Heading1
========
Heading2
--------

&lt;a href="#hr" id="hr" class="markdown-help"&gt;Horizontal Rule&lt;/a&gt;

Putting more than three hyphens, asterisks, or underscores will render a horizontal line.
Following:

    ***

    ____

    -----

will render line

***

____

-----

&lt;a href="#lists" id="lists" class="markdown-help"&gt;Simple Lists&lt;/a&gt;

Following will render an unordered list or bulleted list. You can use `-, +` or `*` to have these.

    - First item
    + Second item
    * Third item

- First item
+ Second item
* Third item

To create an ordered or numbered list use numbers. Markdown will keep track of these numbers.

    1. First item
    5. Second item
    3. Third item

The above will render like following:

1. First item
5. Second item
3. Third item

You can also nest lists arbitrarily keeping same notation for same level preferably.

    1. First item
        2. Second item
            - Third item
        4. Fourth item
            * Fifth item

will render like following

1.  First item
    2. Second item
        - Third item
    4. Fourth item
        * Fifth item

You can have paragraphs, blockquotes and preformatted text in lists. Following:

    1.  First item of list.

        A paragraph in list
    2.  Second item of list.

        > Use extra line and indent the &lt;'s four spaces.
    3.  Third item in list.

                Indent four mode spaces to get preformtted text.

will render as

1.  First item of list.

    A paragraph in list
2.  Second item of list.

    > Use extra line and indent the &lt;'s four spaces.
3.  Third item in list.

            Indent four mode spaces to get preformtted text.

&lt;a href="#bq" id="bq" class="markdown-help"&gt;Blockquotes&lt;/a&gt;

You need to use &gt; to have a block quote. You do not need to put &gt; on a blank line.
To nest just use more &gt;s. You can also have lists in blockquotes. Following:

    > First line.
    > Second line after which there is a blank line.
    >
    > Third line.
    > > More indentation.
    > > > >Even more indentation.

    > - An item in list
    > + Another item in list
    >   * One more as nested item

will render like

> First line.
> Second line after which there is a blank line.
>
> Third line.
> > More indentation.
> > > >Even more indentation.

> - An item in list
> + Another item in list
>   * One more as nested item

&lt;a href="#iu" id="iu" class="markdown-help"&gt;Images and Uploads&lt;/a&gt;

Images and uplaods are allowed which you can do through GUI. Images are like links
but have ! mark in front of them. Uploads have also the same which you need to manually
remove to make them a link. You can also link to existing URLs on web. Typically, you should
not rescale manually by using inline image attributes of HTML as they will have rescaled
rendering automatically.

&lt;a href="#tables" id="tables" class="markdown-help"&gt;Tables&lt;/a&gt;

Following

    | Item      | Value | Qty |
    | --------- | -----:|:--: |
    | Computer  | $1600 | 5   |
    | Phone     |   $12 | 12  |
    | Pipe      |    $1 |234  |

will render as a table as shown below

| Item        |  Value  |  Qty  |
| ----------- | -------:|:----: |
| Computer    | $1600   |   5   |
| Phone       |   $12   |   12  |
| Pipe        |    $1   |  234  |

&lt;a href="#html" id="html" class="markdown-help"&gt;Inline HTML&lt;/a&gt;

You can also you some inline HTML as allowed by pagedown-extra. You can read the docs at
https://github.com/jmcmanus/pagedown-extra

&lt;a href="#ref" id="ref" class="markdown-help"&gt;Markdown Reference&lt;/a&gt;

Should you need more help the you can read it at http://daringfireball.net/projects/markdown/syntax

&lt;a href="#math" id="math" class="markdown-help"&gt;Mathematics Reference&lt;/a&gt;

Mardown itself does not have any Math support but we achieve that using MathJax. If you know
LaTeX syntax then you can type Math easily. In this section we will go through primer.
The delimiters are `\\(` and `\\)` for inline and `\\[` and `\\]` for equations. Note that
preview does not show Math preview. You must submit to see the actual content. Much of
following content comes from http://en.wikibooks.org/wiki/LaTeX/Mathematics with some modification.

Note that MathJax is somewhat different than LaTeX and TeX so for a complete reference please
visit http://docs.mathjax.org/en/latest/tex.html.

&lt;a href="#ops" id="ops" class="markdown-help"&gt;Mathematical Operators&lt;/a&gt;

An operator is a function that is written as a word: e.g. trigonometric functions (sin, cos, tan),
logarithms and exponentials (log, exp). LaTeX has many of these defined as commands:

Following

    \\( \cos (2\theta) = \cos^2 \theta - \sin^2 \theta \\)

will render like

\\( \cos (2\theta) = \cos^2 \theta - \sin^2 \theta \\)

For certain operators such as limits, the subscript is placed underneath the operator:

    \\(\lim_{x \to \infty} \exp(-x) = 0\\)

will render as

\\(\lim_{x \to \infty} \exp(-x) = 0\\)

The same can be rendered as equation which will be slightly different. For example,

    \\[\lim_{x \to \infty} \exp(-x) = 0\\]

will render as

\\[\lim_{x \to \infty} \exp(-x) = 0\\]

For the modular operator there are two commands: \bmod and \pmod:

    \\(a \bmod b \\)

    \\(x \equiv a \pmod b\\)

    \\[a \bmod b \\]

    \\[x \equiv a \pmod b\\]

will render as

\\(a \bmod b \\)

\\(x \equiv a \pmod b\\)

\\[a \bmod b \\]

\\[x \equiv a \pmod b\\]

&lt;a href="#pi" id="pi" class="markdown-help"&gt;Powers and Indices&lt;/a&gt;

Powers and indices are equivalent to superscripts and subscripts in normal text mode.
The caret (^) character is used to raise something, and the underscore (_) is for
lowering. If more than one expression is raised or lowered, they should be grouped
using curly braces ({ and }). An underscore (_) can be used with a vertical bar (|) to
denote evaluation using subscript notation in mathematics:

    \\(k_{n+1} = n^2 + k_n^2 - k_{n-1}\\)

    \\[k_{n+1} = n^2 + k_n^2 - k_{n-1}\\]

    \\(f(n) = n^5 + 4n^2 + 2 |_{n=17}\\)

    \\[f(n) = n^5 + 4n^2 + 2 |_{n=17}\\]

will render like

\\(k_{n+1} = n^2 + k_n^2 - k_{n-1}\\)

\\[k_{n+1} = n^2 + k_n^2 - k_{n-1}\\]

\\(f(n) = n^5 + 4n^2 + 2 |_{n=17}\\)

\\[f(n) = n^5 + 4n^2 + 2 |_{n=17}\\]

&lt;a href="#fb" id="fb" class="markdown-help"&gt;Fractions and Binomials&lt;/a&gt;

A fraction is created using the \frac{numerator}{denominator} command. Likewise, the binomial
coefficient (aka the Choose function) may be written using the \binom command.

    \\(\frac{n!}{k!(n-k)!} = \binom{n}{k}\\)

    \\[\frac{n!}{k!(n-k)!} = \binom{n}{k}\\]

will render as

\\(\frac{n!}{k!(n-k)!} = \binom{n}{k}\\)

\\[\frac{n!}{k!(n-k)!} = \binom{n}{k}\\]

 It is also possible to use the \choose command

    \\(\frac{n!}{k!(n-k)!} = {n \choose k}\\)

will render as

\\(\frac{n!}{k!(n-k)!} = {n \choose k}\\)

Fractions can also contain fractions like

    \\[\frac{\frac{1}{x}+\frac{1}{y}}{y-z}\\]

will render as

\\[\frac{\frac{1}{x}+\frac{1}{y}}{y-z}\\]

Note that when appearing inside another fraction, or in inline text \tfrac{a}{b}, a fraction
is noticeably smaller than in displayed mathematics. The \tfrac and \dfrac commands force the
use of the respective styles, \textstyle and \displaystyle. Similarly, the \tbinom and
\dbinom commands typeset the binomial coefficient.

Another way to write fractions is to use the \over command

    \\[{n! \over k!(n-k)!} = {n \choose k}\\]

will render as

\\[{n! \over k!(n-k)!} = {n \choose k}\\]

For relatively simple fractions, it may be more aesthetically pleasing to use powers and indices:

    \\[^3/_7\\]

will render as

\\[^3/_7\\]

Continued fractions should be written using \cfrac command

    \\[x = a_0 + \cfrac{1}{a_1
              + \cfrac{1}{a_2
              + \cfrac{1}{a_3 + \cfrac{1}{a_4} } } }\\]
will render as

\\[x = a_0 + \cfrac{1}{a_1
          + \cfrac{1}{a_2
          + \cfrac{1}{a_3 + \cfrac{1}{a_4} } } }\\]

To make multiplication visually similar to a fraction, a nested array can be used, for
example multiplication of numbers written one below the other.

    \\[
    \frac{
        \begin{array}[b]{r}
          \left( x_1 x_2 \right)\\
          \times \left( x'_1 x'_2 \right)
        \end{array}
      }{
        \left( y_1y_2y_3y_4 \right)
      }\\]

will render as

\\[
\frac{
    \begin{array}[b]{r}
      \left( x_1 x_2 \right)\\
      \times \left( x'_1 x'_2 \right)
    \end{array}
  }{
    \left( y_1y_2y_3y_4 \right)
  }\\]

&lt;a href="#sq" id="sq" class="markdown-help"&gt;Square Root&lt;/a&gt;

The \sqrt command creates a square root surrounding an expression. It accepts an optional argument specified in square brackets ([ and ]) to change magnitude:

    \\[\sqrt{\frac{a}{b}}\\]

    \\[\sqrt[n]{1+x+x^2+x^3+\ldots}\\]

will render like

\\[\sqrt{\frac{a}{b}}\\]

\\[\sqrt[n]{1+x+x^2+x^3+\ldots}\\]

&lt;a href="#si" id="si" class="markdown-help"&gt;Sum and Integral&lt;/a&gt;

The \sum and \int commands insert the sum and integral symbols respectively, with limits
specified using the caret (^) and underscore (_). The typical notation for sums is:

    \\[\sum_{i=1}^{10} t_i\\]

will render as

\\[\sum_{i=1}^{10} t_i\\]

The limits for the integrals follow the same notation. It's also important to represent the
integration variables with an upright d, which in math mode is obtained through the
\mathrm{} command, and with a small space separating it from the integrand, which is
attained with the \, command.

    \\[\int_0^\infty \mathrm{e}^{-x}\,\mathrm{d}x\\]

will render as

\\[\int_0^\infty \mathrm{e}^{-x}\,\mathrm{d}x\\]

There are many other "big" commands which operate in a similar manner:

    | Script       | Symbol          | Script       | Symbol           | Script       | Symbol          |
    | ---------    | ------          | ---------    | ------           | ---------    | ------          |
    |  \sum        | \\(\sum\\)      |  \prod       | \\(\prod\\)      |  \coprod     | \\(\coprod\\)   |
    | \bigcup      | \\(\bigcup\\)   |  \bigcap     | \\(\bigcap\\)    |  \bigodot    | \\(\bigodot\\)  |
    | \bigsqcup    | \\(\bigsqcup\\) |  \bigvee     | \\(\bigvee\\)    |  \biguplus   | \\(\biguplus\\) |
    | \int         | \\(\int\\)      |  \oint       | \\(\oint\\)      |  \iint       | \\(\iint\\)     |
    | \iiint       | \\(\iiint\\)    |  \iiiint     | \\(\iiiint\\)    |  \idotsint   | \\(\idotsint\\) |

will render like

| Script       | Symbol          | Script       | Symbol           | Script       | Symbol          |
| ---------    | ------          | ---------    | ------           | ---------    | ------          |
|  \sum        | \\(\sum\\)      |  \prod       | \\(\prod\\)      |  \coprod     | \\(\coprod\\)   |
| \bigcup      | \\(\bigcup\\)   |  \bigcap     | \\(\bigcap\\)    |  \bigodot    | \\(\bigodot\\)  |
| \bigsqcup    | \\(\bigsqcup\\) |  \bigvee     | \\(\bigvee\\)    |  \biguplus   | \\(\biguplus\\) |
| \int         | \\(\int\\)      |  \oint       | \\(\oint\\)      |  \iint       | \\(\iint\\)     |
| \iiint       | \\(\iiint\\)    |  \iiiint     | \\(\iiiint\\)    |  \idotsint   | \\(\idotsint\\) |

The \substack command allows the use of \\ to write the limits over multiple lines:

    \\[\sum_{\substack{
       0&lt;i&lt;m \\
       0&lt;j&lt;n
      }}
     P(i,j)\\]

will render as

\\[\sum_{\substack{
   0&amp;lt;i&amp;lt;m \\\\
   0&amp;lt;j&amp;lt;n
  }}
 P(i,j)\\]

If you want the limits of an integral to be specified above and below the symbol (like the sum), use the \limits command:

    \\[\int\limits_a^b\\]

will render as

\\[\int\limits_a^b\\]

&lt;a href="#bbd" id="bbd" class="markdown-help"&gt;Brackets, Braces and Delimiters&lt;/a&gt;

The use of delimiters such as brackets soon becomes important when dealing with anything but
the most trivial equations. Without them, formulas can become ambiguous. Also, special types
of mathematical structures, such as matrices, typically rely on delimiters to enclose them.

There are a variety of delimiters available for use in LaTeX:

    \\[ ( a ), [ b ], \{ c \}, | d |, \ | e \ |,
    \langle f \rangle, \lfloor g \rfloor,
    \lceil h \rceil, \ulcorner i \urcorner\\]

will render as

\\[ ( a ), [ b ], \{ c \}, | d |, \| e \|,
\langle f \rangle, \lfloor g \rfloor,
\lceil h \rceil, \ulcorner i \urcorner\\]

Note that there is no space between backslash and bar for e in preformatted text.

Very often mathematical features will differ in size, in which case the delimiters
surrounding the expression should vary accordingly. This can be done automatically
using the \left, \right, and \middle commands. If a delimiter on only one side of
an expression is required, then an invisible delimiter on the other side may be
denoted using a period (.).Any of the previous delimiters may
be used in combination with these:

    \\[\left(\frac{x^2}{y^3}\right)\\]

    \\[P\left(A=2\middle|\frac{A^2}{B}>4\right)\\]

    \\[\left.\frac{x^3}{3}\right|_0^1\\]

will render as

\\[\left(\frac{x^2}{y^3}\right)\\]

\\[P\left(A=2\middle|\frac{A^2}{B}>4\right)\\]

\\[\left.\frac{x^3}{3}\right|_0^1\\]

In certain cases, the sizing produced by the \left and \right commands may not be desirable,
or you may simply want finer control over the delimiter sizes. In this case, the \big, \Big,
\bigg and \Bigg modifier commands may be used:

    \\[( \big( \Big( \bigg( \Bigg(\\]

will render as

\\[( \big( \Big( \bigg( \Bigg(\\]

These commands are primarily useful when dealing with nested delimiters. For example, when
typesetting

    \\[\frac{\mathrm d}{\mathrm d x} \left( k g(x) \right)\\]

will render as

\\[\frac{\mathrm d}{\mathrm d x} \left( k g(x) \right)\\]

we notice that the \left and \right commands produce the same size delimiters as those nested
within it. This can be difficult to read. To fix this, we write

    \\[\frac{\mathrm d}{\mathrm d x} \big( k g(x) \big)\\]

will render as

\\[\frac{\mathrm d}{\mathrm d x} \big( k g(x) \big)\\]

&lt;a href="#ma" id="ma" class="markdown-help"&gt;Matrices and Arrays&lt;/a&gt;

A basic matrix may be created using the matrix environment[3]: in common with
other table-like structures, entries are specified by row, with columns separated using an
ampersand (&amps) and a new rows separated with a double backslash (\\\\)

    \\[\begin{matrix}
      a & b & c \\
      d & e & f \\
      g & h & i
     \end{matrix}\\]

will render as

\\[\begin{matrix} a & b & c \\\\ d & e & f \\\\ g & h & i \end{matrix}\\]

To specify alignment of columns in the table, use starred version[5]:

    \\[\begin{matrix}
      -1 & 3 \\
      2 & -4
     \end{matrix}
     =
     \begin{matrix*}[r]
      -1 & 3 \\
      2 & -4
     \end{matrix*}\\]

will render as

\\[\begin{matrix} -1 &amp; 3 \\\\ 2 &amp; -4 \end{matrix} =
\begin{matrix} -1 &amp; 3 \\\\ 2 &amp; -4 \end{matrix}\\]

The alignment by default is c but it can be any column type valid in array environment.

However matrices are usually enclosed in delimiters of some kind, and while it is possible to
use the \left and \right commands, there are various other predefined environments which
automatically include delimiters:
| Environment Name | Surrounding Delimiter | Notes                                                        |
| ---------------- | --------------------- | -----                                                        |
| pmatrix          |  (  )                 | centers columns by default                                   |
| pmatrix          |  (  )                 | allows to specify alignment of columns in optional parameter |
| bmatrix          |  [  ]                 | centers columns by default                                   |
| bmatrix          |  [  ]                 | allows to specify alignment of columns in optional parameter |
| Bmatrix          |  {  }                 | centers columns by default                                   |
| Bmatrix          |  {  }                 | allows to specify alignment of columns in optional parameter |
| vmatrix          |  \|  \|               | centers columns by default                                   |
| vmatrix          |  \|  \|               | allows to specify alignment of columns in optional parameter |
| Vmatrix          |  \|\|  \|\|           | centers columns by default                                   |
| Vmatrix          |  \|\|  \|\|           | allows to specify alignment of columns in optional parameter |

When writing down arbitrary sized matrices, it is common to use horizontal, vertical and diagonal
triplets of dots (known as ellipses) to fill in certain columns and rows. These can be specified
using the \cdots, \vdots and \ddots respectively:

    \\[A_{m,n} =
     \begin{pmatrix}
      a_{1,1} & a_{1,2} & \cdots & a_{1,n} \\
      a_{2,1} & a_{2,2} & \cdots & a_{2,n} \\
      \vdots  & \vdots  & \ddots & \vdots  \\
      a_{m,1} & a_{m,2} & \cdots & a_{m,n}
     \end{pmatrix}\\]

will render as

\\[A_{m,n} =
 \begin{pmatrix}
  a_{1,1} & a_{1,2} & \cdots & a_{1,n} \\\\
  a_{2,1} & a_{2,2} & \cdots & a_{2,n} \\\\
  \vdots  & \vdots  & \ddots & \vdots  \\\\
  a_{m,1} & a_{m,2} & \cdots & a_{m,n}
 \end{pmatrix}\\]

In some cases you may want to have finer control of the alignment within each column, or want
to insert lines between columns or rows. This can be achieved using the array environment,
which is essentially a math-mode version of the tabular environment, which requires that the
columns be pre-specified:

    \\[\begin{array}{c|c}
      1 & 2 \\
      \hline
      3 & 4
     \end{array}\\]

will render as

\\[\begin{array}{c\|c} 1 &amp; 2 \\\\ \\hline 3 &amp; 4 \end{array}\\]

You may see that the AMS matrix class of environments doesn't leave enough space when used
together with fractions resulting in output similar to this:

    \\[M = \begin{bmatrix} \frac{5}{6} & \frac{1}{6} & 0\\ \frac{5}{6} & 0 & \frac{1}{6}\\ 0 & \frac{5}{6} & \frac{1}{6} \end{bmatrix}\\]

will render as

\\[M =  \begin{bmatrix} \frac{5}{6} &amp; \frac{1}{6} &amp; 0\\\\ \frac{5}{6} &amp; 0 &amp; \frac{1}{6}\\\\ 0 &amp; \frac{5}{6} &amp; \frac{1}{6} \end{bmatrix}\\]

To counteract this problem, add additional leading space with the optional parameter to the \\ command:

    \\[M = \begin{bmatrix}
           \frac{5}{6} & \frac{1}{6} & 0           \\[0.3em]
           \frac{5}{6} & 0           & \frac{1}{6} \\[0.3em]
           0           & \frac{5}{6} & \frac{1}{6}
         \end{bmatrix}\\]


\\[M = \begin{bmatrix} \frac{5}{6} &amp; \frac{1}{6} &amp; 0 \\\\[0.3em] \frac{5}{6} &amp; 0 &amp; \frac{1}{6} \\\\[0.3em] 0 &amp; \frac{5}{6} &amp; \frac{1}{6} \end{bmatrix}\\]

&lt;a href="#tim" id="tim" class="markdown-help"&gt;Text in Math&lt;/a&gt;
The math environment differs from the text environment in the representation of text. Here is
an example of trying to represent text within the math environment:

    \\[50 apples \times 100 apples = lots of apples^2\\]

will render as

\\[50 apples \times 100 apples = lots of apples^2 \\]

There are two noticeable problems: there are no spaces between words or numbers, and the letters
are italicized and more spaced out than normal. Both issues are simply artifacts of the maths
mode, in that it treats it as a mathematical expression: spaces are ignored (LaTeX spaces
mathematics according to its own rules), and each character is a separate element (so are not
positioned as closely as normal text).

There are a number of ways that text can be added properly. The typical way is to wrap the
text with the \text{...} command (a similar command is \mbox{...}, though this causes problems
with subscripts, and has a less descriptive name). Let's see what happens when the above
equation code is adapted:

    \\[50 \text{apples} \times 100 \text{apples}
     = \text{lots of apples}^2\\]

will render as

\\[50 \text{apples} \times 100 \text{apples} = \text{lots of apples}^2\\]

The text looks better. However, there are no gaps between the numbers and the words.
Unfortunately, you are required to explicitly add these. There are many ways to add spaces
between maths elements, but for the sake of simplicity we may simply insert space characters
into the \text commands.

    \\[50 \text{ apples} \times 100 \text{ apples}
     = \text{lots of apples}^2\\]

will render as

\\[50 \text{ apples} \times 100 \text{ apples} = \text{lots of apples}^2 \\]

Using the \text is fine and gets the basic result. Yet, there is an alternative that offers a
little more flexibility. You may recall the introduction of font formatting commands, such
as \textrm, \textit, \textbf, etc. These commands format the argument accordingly, e.g.,
\textbf{bold text} gives bold text. These commands are equally valid within a maths
environment to include text. The added benefit here is that you can have better control over
the font formatting, rather than the standard text achieved with \text.

    \\[50 \textrm{ apples} \times 100
     \textbf{ apples} = \textit{lots of apples}^2\\]

will render as

\\[50 \textrm{ apples} \times 100 \textbf{ apples} = \textit{lots~of~apples}^2 \\]

            </div>
        </div>
        <div id="sidebar">
            <div id="scroller-anchor"></div>
            <div style="position: relative; width: 220px;" id="scroller">
                <div class="module newuser" id="toc">
                    <ul>
                        <li class=""><a title="" href="#code">Code and Preformatted Text</a></li>
                        <li class=""><a title="" href="#code-spans">Code Span</a></li>
                        <li><a title="" href="#linebreaks">
                            Linebreaks</a></li>
                        <li><a title="" href="#ib">
                            Italics and Bold</a></li>
                        <li><a title="" href="#links">Links</a></li>
                        <li><a title="" href="#headers">
                            Headers</a></li>
                        <li><a title="" href="#hr">
                            Horizontal Rules</a></li>
                        <li><a title="" href="#lists">
                            Simple lists</a></li>
                        <li><a title="" href="#bq">
                            Simple blockquotes</a></li>
                        <li><a title="" href="#iu">
                            Images and Uploads</a></li>
                        <li><a title="" href="#tables">
                            Tables</a></li>
                        <li><a title="" href="#html">
                            Inline HTML</a></li>
                        <li><a title="" href="#ref">
                            Markdown Reference Page</a></li>
                        <li><a title="" href="#math">
                            Mathematics Support</a></li>
                        <li><a title="" href="#ops">
                            Operators</a></li>
                        <li><a title="" href="#pi">
                            Powers and Indices</a></li>
                        <li><a title="" href="#fb">
                            Fractions and Binomials</a></li>
                        <li><a title="" href="#sq">
                            Square Root</a></li>
                        <li><a title="" href="#si">
                            Sum and Integrals</a></li>
                        <li><a title="" href="#bbd">
                            Brackets, Braces and Delimiters</a></li>
                        <li><a title="" href="#ma">
                            Matrices and Arrays</a></li>
                        <li><a title="" href="#tim">
                            Text in Math</a></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
    <script type="text/javascript">
        var converter = new Markdown.Converter();
        Markdown.Extra.init(converter, {
            extensions: "all",
            highlighter: "highlight",
            table_class: "table-bordered table"
        });

        var originalHTML = $("#help").text();
        var convertedHTML = converter.makeHtml(originalHTML);
        $("#help").html(convertedHTML);
    </script>
{% endblock %}
