{% extends "base.html" %}
{% block title %}{{ title }} - Kunjika{% endblock %}

{% block css_site %}
    <link href="/static/css/wmd.css" rel="stylesheet">
    <link href="/static/css/solarized_light.css" rel="stylesheet">
    <link href="/static/css/token-input.css" rel="stylesheet">
    {{ super() }}
    <script type="text/javascript" src="/static/js/Markdown.Converter.js"></script>
    <script type="text/javascript" src="/static/js/Markdown.Sanitizer.js"></script>
    <script type="text/javascript" src="/static/js/Markdown.Editor.js"></script>
    <script type="text/javascript" src="/static/js/Markdown.Extra.js"></script>
    <script type="text/javascript" src="/static/js/jquery.tokeninput.js"></script>
    <script type="text/javascript" src="/static/js/highlight.js"></script>
{% endblock %}
{% block container %}
    <div class="row">
        <div class="col-md-9">
            {% if type == 'ce' %}
                <div class="page-header">
                    <h3>Please edit your comment.</h3>
                </div>
                {% if aid != 0 %}
                    <form class="edit-form" method="post" aciton="/edit/ce-{{ qid }}-{{ aid }}-{{ cid }}">
                {% else %}
                    <form class="edit-form" method="post" aciton="/edit/ce-{{ qid }}-{{ cid }}">
                {% endif %}
            {% from "macros.html" import render_field %}
            {{ form.csrf_token }}
            <div class="wmd-panel clearfix">
                <div id="wmd-button-bar"></div>
                <div class="control-group">
                    <label class="control-label" for="description"></label>

                    <div class="controls">
                        {% if aid != 0 %}
                            <textarea class="wmd-input" id="wmd-input" name="comment"
                                      placeholder="Please describe your question here."
                                      stlyle="margin-left:5px;">{{ question['answers'][aid - 1]['comments'][cid - 1]['comment'] }}</textarea>
                        {% else %}
                            <textarea class="wmd-input" id="wmd-input" name="comment"
                                      placeholder="Please describe your question here."
                                      stlyle="margin-left:5px;">{{ question['comments'][cid - 1]['comment'] }}</textarea>
                        {% endif %}
                    </div>
                </div>
                <div id="insertImageDialog" title="&nbsp;Insert Image or File">
                    <h6>From the web</h6>

                    <p>
                        <input type="text" placeholder="Enter url e.g. http://yoursite.com/image.jpg"/>
                    </p>
                    <h6>From your computer (Max. 2MB)</h6>
                    <span class="loading-small"></span>
                    <input type="file" name="file" id="file" data-action="/image_upload"/>
                </div>
                <div id="wmd-preview" class="wmd-panel wmd-preview"></div>
            </div>
            <div class="form-group">
                <button class="btn btn-primary">
                    Edit Comment
                </button>
            </form>
            {% elif type == 'ae' %}
                <div class="page-header">
                    <h3>Please edit your answer.</h3>
                </div>
                <form class="edit-form" method="post" aciton="/edit/ae-{{ qid }}-{{ aid }}">
                    {% from "macros.html" import render_field %}
                    {{ form.csrf_token }}
                    <div class="wmd-panel clearfix">
                        <div id="wmd-button-bar"></div>
                        <div class="control-group">
                            <label class="control-label" for="description"></label>

                            <div class="controls">
                                <textarea class="wmd-input" id="wmd-input" name="answer"
                                          placeholder="Please describe your question here."
                                          stlyle="margin-left:5px;">{{ question['answers'][aid - 1]['answer'] }}</textarea>
                            </div>
                        </div>
                        <div id="insertImageDialog" title="&nbsp;Insert Image or File">
                            <h6>From the web</h6>

                            <p>
                                <input type="text" placeholder="Enter url e.g. http://yoursite.com/image.jpg"/>
                            </p>
                            <h6>From your computer (Max. 2MB)</h6>
                            <span class="loading-small"></span>
                            <input type="file" name="file" id="file" data-action="/image_upload"/>
                        </div>
                        <div id="wmd-preview" class="wmd-panel wmd-preview"></div>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary">
                            Edit Answer
                </form>
            {% else %}
                <div class="page-header">
                    <h3>Please edit your question.</h3>
                </div>
                <form class="ask-form" method="post" aciton="/edit/qe-{{ qid }}">
                {% from "macros.html" import render_field %}
                {{ form.csrf_token }}
                <div class="control-group">
                    <label class="control-label" for="question" style="margin-right:20px">Question</label>

                    <div class="form-group" style="width:80%">
                        <input class="form-control" id="question" name="question"
                               value="{{ question['title'] }}" type="text">
                    </div>
                </div>
                <div class="wmd-panel clearfix">
                    <div id="wmd-button-bar"></div>
                    <div class="control-group">
                        <label class="control-label" for="description"></label>

                        <div class="controls">
                            <textarea class="wmd-input" id="wmd-input" name="description"
                                      placeholder="Please describe your question here."
                                      stlyle="margin-left:5px;">{{ question['content']['description'] }}</textarea>
                        </div>
                    </div>
                    <div id="insertImageDialog" title="&nbsp;Insert Image or File">
                        <h6>From the web</h6>

                        <p>
                            <input type="text" placeholder="Enter url e.g. http://yoursite.com/image.jpg"/>
                        </p>
                        <h6>From your computer (Max. 2MB)</h6>
                        <span class="loading-small"></span>
                        <input type="file" name="file" id="file" data-action="/image_upload"/>
                    </div>
                    <div id="wmd-preview" class="wmd-panel wmd-preview"></div>
                    <div style="clear:both;"></div>
                    <div class="control-group form-group" style="wdith:90%">
                        <label class="control-label" for="tags" style="margin-right: 25px">Tags</label>

                        <div class="controls">

                            <ul class="token-input-list-kunjika">
                                <li class="token-input-input-token-kunjika"><input id="token-input-kunjika-tags"
                                                                                   style="outline: medium none; width: 30px;"
                                                                                   autocomplete="off"
                                                                                   autocapitalize="off" name="tags"
                                                                                   type="text">
                                    <tester style="position: absolute; top: -9999px; left: -9999px; width: auto; font-size: 14px; font-family:&quot;Helvetica Neue&quot;,Helvetica,Arial,sans-serif; font-weight: 400; letter-spacing: 0px; white-space:
                                    nowrap;"></tester>
                                </li>
                            </ul>
                            <!--<input class="input-xlarge span10" id="kunjika-tags" name="tags"
                                   placeholder="comma(,) to separate tags, hyphenation to join words, max 5 tags"
                                   style="margin-left: 45px; display: none;" value="" type="text" />-->
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary">
                    Edit Question
            {% endif %}
            </button>
            </div>
        </form>
    </div>
        <div class="col-md-3">
            <div class="site-stats">
                <div class="module">
                    <span class="fa fa-question"></span>
                    <span class="summary-count">{{ qcount }}</span>
                    <span class="summary-text">questions</span>
                </div>
                <div class="module">
                    <span class="fa fa-comment"></span>
                    <span class="summary-count">{{ acount }}</span>
                    <span class="summary-text">answers</span>
                </div>
                <div class="module">
                    <span class="fa fa-users"></span>
                    <span class="summary-count">{{ ucount }}</span>
                    <span class="summary-text">users</span>
                </div>
                <div class="module">
                    <span class="fa fa-tags"></span>
                    <span class="summary-count">{{ tcount }}</span>
                    <span class="summary-text">tags</span>
                </div>
                <div class="popular-tags" class="module">
                    <div class="page-header">
                        <h4>Popular Tags</h4>
                    </div>
                    
                    {% for tag in tag_list %}
                        <a href="/questions/tagged/{{ tag['tag']|urlencode }}" class="post-tag" title="show questions tagged '{{ tag['tag'] }}'" rel="tag">
                            {{ tag['tag'] }} 
                            <span class="tag-count">{{ tag['count'] }}</span> 
                        </a>
                        
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <!--script type="text/javascript">
    $(document).ready(function () {
            $("#token-input-kunjika-tags").tokenInput("/get_tags/{{ question[qid] }}");
        });
    </script-->

    <script type="text/javascript">
        (function () {
            if ($('#wmd-input').length > 0) {
                var converter = new Markdown.getSanitizingConverter();
                var help = function () {
                    window.open('{{ config['HOST_URL'] }}editing-help');
                }
                Markdown.Extra.init(converter, {
                    extensions: "all",
                    highlighter: "highlight",
                    table_class: "table-bordered table"
                });

                var editor = new Markdown.Editor(converter, null, { handler: help });

                var $dialog = $('#insertImageDialog').dialog({
                    autoOpen: false,
                    closeOnEscape: false,
                    open: function (event, ui) {
                        $(".ui-dialog-titlebar-close").hide();
                    }
                });
                var $loader = $('span.loading-small', $dialog);
                var $url = $('input[type=text]', $dialog);
                var $file = $('input[type=file]', $dialog);

                editor.hooks.set('insertImageDialog', function (callback) {

                    // dialog functions
                    var dialogInsertClick = function () {
                        callback($url.val().length > 0 ? $url.val() : null);
                        dialogClose();
                    };

                    var dialogCancelClick = function () {
                        dialogClose();
                        callback(null);
                    };

                    var dialogClose = function () {
                        // clean up inputs
                        $url.val('');
                        $file.val('');
                        $dialog.dialog('close');
                    };

                    // set up dialog button handlers
                    $dialog.dialog('option', 'buttons', {
                        'Insert': dialogInsertClick,
                        'Cancel': dialogCancelClick
                    });

                    var uploadStart = function () {
                        $loader.show();
                    };

                    var uploadComplete = function (response) {
                        $loader.hide();
                        if (response.success) {
                            callback(response.imagePath);
                            dialogClose();
                        } else {
                            alert(response.message);
                            $file.val('');
                        }
                        editor.refreshPreview();
                    };

                    // upload
                    $file.unbind('change').ajaxfileupload({
                        action: $file.attr('data-action'),
                        onStart: uploadStart,
                        onComplete: uploadComplete
                    });

                    // open the dialog
                    $dialog.dialog('open');

                    return true; // tell the editor that we'll take care of getting the image url
                });
                editor.hooks.chain("onPreviewRefresh", f); // google code prettify
                hljs.initHighlightingOnLoad();
                editor.run();
            }
        })();
    function f() {
        hljs.initHighlighting.called = false;
        hljs.initHighlighting();
    }
    </script>
    <script type="text/javascript">
        $("#token-input-kunjika-tags").ready(function () {
            var url = String(window.location);
            var JSONdata;
            //alert(url);
            var urlsplit = url.split("/");
            var lastPart = urlsplit[4];
            var qid = lastPart.replace(/qe-/, '');
            $.getJSON('/get_tags/' + String(qid), {
            }, function (data) {
                $("#token-input-kunjika-tags").tokenInput("{{ config['HOST_URL'] }}get_tags/", {
                    theme: "kunjika",
                    allowFreeTagging: true,
                    tokenLimit: 5,
                    tokenDelimiter: ',',
                    preventDuplicates: true,
                    prePopulate: data
                });
            });
        });
    </script>
    <script type="text/javascript">
      window.onbeforeunload = popup;

      function popup() {
        return 'I see you are leaving the site';
      }
    </script>
{% endblock %}
