{% extends "base.html" %}
{% block title %}{{ title }} - Kunjika{% endblock %}

{% block css_site %}
    <link href="/static/css/wmd.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/solarized_light.css">
    <link href="/static/css/token-input.css" rel="stylesheet">
    <link href="/static/css/token-input.css" rel="stylesheet">
    {{ super() }}
    <script src="/static/js/highlight.js"></script>
    <script type="text/javascript" src="/static/js/Markdown.Converter.js"></script>
    <script type="text/javascript" src="/static/js/Markdown.Sanitizer.js"></script>
    <script type="text/javascript" src="/static/js/Markdown.Editor.js"></script>
    <script type="text/javascript" src="/static/js/Markdown.Extra.js"></script>
    <script type="text/javascript" src="/static/js/jquery.tokeninput.js"></script>
{% endblock %}
{% block container %}
    <div class="row">
        <div class="col-md-9">
            {% if type == 'ce' %}
                <h3>Please edit your comment.</h3>
                <form class="edit-form" method="post" aciton="/edit_article/ce-{{ aid }}_{{ cid }}">
            {% from "macros.html" import render_field %}
            {{ form.csrf_token }}
            <div class="wmd-panel">
                <div id="wmd-button-bar"></div>
                <div class="control-group">
                    <label class="control-label" for="description"></label>
                    <div class="controls">
                            <textarea class="wmd-input" id="wmd-input" name="comment"
                                      placeholder="Please describe your question here."
                                      stlyle="margin-left:5px;">{{ comment['comment'] }}</textarea>
                    </div>
                </div>
                <div id="insertImageDialog" title="&nbsp;Insert Image or File">
                    <h6>From the web</h6>

                    <p>
                        <input type="text" placeholder="Enter url e.g. http://yoursite.com/image.jpg"/>
                    </p>
                    <h6>From your computer (Max. 2MB)</h6>
                    <span class="loading-small"></span>
                    <input type="file" name="file" id="file" data-action="/image_upload"/>
                </div>
                <div id="wmd-preview" class="wmd-panel wmd-preview"></div>
            </div>
            <div class="controls">
                <button class="btn btn-primary">
                    Edit Comment
                </button>
            </div>
            </form>
            {% else %}
                <h3>Please edit your article.</h3>
                <form class="ask-form" method="post" aciton="/edit_article/ae-{{ aid }}">
                {% from "macros.html" import render_field %}
                {{ form.csrf_token }}
                <div class="control-group">
                    <label class="control-label" for="question">Title</label>

                    <div class="controls">
                        <input class="form-control" id="article" name="title"
                               style="margin-left:55px;margin-bottom:10px;width:80%" value="{{ article['title'] }}" type="text">
                    </div>
                </div>
                <div class="wmd-panel">
                    <div id="wmd-button-bar"></div>
                    <div class="control-group">
                        <label class="control-label" for="description"></label>

                        <div class="controls">
                            <textarea class="wmd-input" id="wmd-input" name="content"
                                      placeholder="Please describe your aticle here."
                                      stlyle="margin-left:5px;">{{ article['content'] }}</textarea>
                        </div>
                    </div>
                    <div id="insertImageDialog" title="&nbsp;Insert Image or File">
                        <h6>From the web</h6>

                        <p>
                            <input type="text" placeholder="Enter url e.g. http://yoursite.com/image.jpg"/>
                        </p>
                        <h6>From your computer (Max. 2MB)</h6>
                        <span class="loading-small"></span>
                        <input type="file" name="file" id="file" data-action="/image_upload"/>
                    </div>
                    <div id="wmd-preview" class="wmd-panel wmd-preview"></div>
                    <div style="clear:both;"></div>
                    <div class="control-group">
                        <label class="control-label" for="tags" style="margin-right: 25px">Tags</label>

                        <div class="controls">
                            <input class="form-control" id="question" name="tags"
                                   style="margin-left:25px;margin-bottom:20px; width:60%" value="{{ tags }}" type="text">
                        </div>
                    </div>
                </div>
                <div class="controls">
                <button class="btn btn-primary">
                Edit Article
            {% endif %}
            </button>
            </div>
        </form>
    </div>
    </div>
    <script type="text/javascript">
        (function () {
            if ($('#wmd-input').length > 0) {
                var converter = new Markdown.getSanitizingConverter();
                var help = function () {
                    window.open('{{ config['HOST_URL'] }}editing-help');
                }
                Markdown.Extra.init(converter, {
                    extensions: "all",
                    highlighter: "highlight",
                    table_class: "table-bordered table"
                });

                var editor = new Markdown.Editor(converter, null, { handler: help });

                var $dialog = $('#insertImageDialog').dialog({
                    autoOpen: false,
                    closeOnEscape: false,
                    open: function (event, ui) {
                        $(".ui-dialog-titlebar-close").hide();
                    }
                });
                var $loader = $('span.loading-small', $dialog);
                var $url = $('input[type=text]', $dialog);
                var $file = $('input[type=file]', $dialog);

                editor.hooks.set('insertImageDialog', function (callback) {

                    // dialog functions
                    var dialogInsertClick = function () {
                        callback($url.val().length > 0 ? $url.val() : null);
                        dialogClose();
                    };

                    var dialogCancelClick = function () {
                        dialogClose();
                        callback(null);
                    };

                    var dialogClose = function () {
                        // clean up inputs
                        $url.val('');
                        $file.val('');
                        $dialog.dialog('close');
                    };

                    // set up dialog button handlers
                    $dialog.dialog('option', 'buttons', {
                        'Insert': dialogInsertClick,
                        'Cancel': dialogCancelClick
                    });

                    var uploadStart = function () {
                        $loader.show();
                    };

                    var uploadComplete = function (response) {
                        $loader.hide();
                        if (response.success) {
                            callback(response.imagePath);
                            dialogClose();
                        } else {
                            alert(response.message);
                            $file.val('');
                        }
                        editor.refreshPreview();
                    };

                    // upload
                    $file.unbind('change').ajaxfileupload({
                        action: $file.attr('data-action'),
                        onStart: uploadStart,
                        onComplete: uploadComplete
                    });

                    // open the dialog
                    $dialog.dialog('open');

                    return true; // tell the editor that we'll take care of getting the image url
                });
                editor.hooks.chain("onPreviewRefresh", f); // google code prettify
                hljs.initHighlightingOnLoad();
                editor.run();
            }
        })();
        function f() {
            hljs.initHighlighting.called = false;
            hljs.initHighlighting();
        }
    </script>
    <script type="text/javascript">
$(window).bind('beforeunload',function() {
    return "'Are you sure you want to leave the page. All data will be lost!";
});

$('.btn').live('click',function() {
    $(window).unbind('beforeunload');
});
    </script>
{% endblock %}
