<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="10hash: The humble platform for knowledge sharing">
    <meta name="author" content="shashi kant @shashikant_10, shiv dayal">
    <meta name="keywords" content="10hash,tenhash,kunjika,articles,polls,test series, programming,education,computer science">
    <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <![endif]-->
    <title>10hash : A humble platform for knowledge sharing</title>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="/static/img/10hash.ico" type="image/x-icon" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <!--GOOGLE FONT -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <!--BOOTSTRAP MAIN STYLES -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <!--FONTAWESOME MAIN STYLE -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <!--PRETTYPHOTO MAIN STYLE -->
    <link href="/static/css/prettyPhoto.css" rel="stylesheet" />
    <!--CUSTOM STYLE -->
    <link href="/static/css/style.css" rel="stylesheet" />
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-17487464-6', '10hash.com');
        ga('send', 'pageview');

    </script>
</head>

<body>

    <!--NAV SECTION -->
    <header id="header-nav" role="banner">
        <div id="navbar" class="navbar navbar-default">
            <div class="navbar-header color-blue">
                <a class="navbar-brand" href="http://10hash.com/"><i class="fa fa-slack"></i> 10hash</a>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav flot-nav">
                    <li><a href="#slide-head"><i class="fa fa-home"></i> Home</a></li>
                   <!-- <li><a href="#about-section"><i class="fa fa-cogs color-brown"></i> About Us</a></li> -->
                    <li><a href="/articles"><i class="fa fa-book"></i> Articles </a></li>
                    <li><a href="/questions"><i class="fa fa-key"></i> Kunjika</a></li>
                    <li><a href="/poll"><i class="fa fa-users"></i> Polls</a></li>
                    <li><a href="#contact-section"><i class="fa fa-envelope-o"></i> Contact</a></li>
                    {% if g.user.id == -1 %}
                        `<li><a href="/login"><i class="fa fa-sign-in"></i> Sign-In</a></li>
                    {% else %}
                        <li><a href="/users/{{ g.user.id }}/{{ g.user.user_doc['name'] }}"><i class="fa fa-user"></i> {{ g.user.user_doc['name'] }}</a></li>
                        `<li><a href="/logout"><i class="fa fa-sign-out"></i> Log Out</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </header>
    <!--END NAV SECTION -->
    <!--SLIDE CAROUSEL SECTION -->
    <section id="slide-head" class="carousel" style="background-color:rgb( {{ r }}, {{ green }}, {{ b }})">
        <div class="carousel-inner">
            <div class="item active">
                <div class="container">
                    <div class="carousel-content">
                        <h1>Kunjika : Key of all Questions</h1>
                        <p class="lead">Getting any glitch, ask here. Use the power of community.
                            <br>
                            <a href="/questions" class="btn btn-primary btn-lg margin-top-20">Ask/Answer</a>
                        </p>
                    </div>
                </div>
            </div>
            <!-- ./ first active div-->
            <div class="item">
                <div class="container">
                    <div class="carousel-content">
                        <h1>Articles</h1>
                        <p class="lead">
                            Share knowledge, get knowledge! A collection of radical and state of the art Technical Articles<br>
                            <a href="/articles" class="btn btn-primary btn-lg margin-top-20">Read/Write</a>
                        </p>
                    </div>
                </div>
            </div>
            <!-- ./ Second div-->

            <div class="item">
                <div class="container">
                    <div class="carousel-content">
                        <h1>Polls</h1>
                        <p class="lead">Sense the nerves of people.
                            <br>
                            <a href="/poll" class="btn btn-primary btn-lg margin-top-20">Start a Survey</a>
                        </p>
                    </div>
                </div>
            </div>
            <!-- Third div -->
        </div>
        <a class="prev" href="#slide-head" data-slide="prev"><i class="fa fa-angle-left"></i></a>
        <a class="next" href="#slide-head" data-slide="next"><i class="fa fa-angle-right"></i></a>
    </section>
    <!--END SLIDE CAROUSEL SECTION -->

    <!--SERVICES SECTION -->
    <section id="services-section">
        <div class="wrap-pad">
            <div class="row">
               <!--  <div class=" span6 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 " data-scrollreveal="enter top and move 100px, wait 0.5s">
                    <div class="span6 text-center">
                        <!-- <h1><i class="fa fa-check small-icons bk-color-green"></i>Products</h1>
                        <p class="lead">

                        </p>
                    </div>
                </div>
                <!-- ./ Heading div-->
                <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 ">
                    <div class="col-md-6 col-sm-6" data-scrollreveal="enter left and move 100px, wait 0.6s">
                        <div class="text-center span6">
                            <i class="fa fa-key icon-round bk-color-red"></i>
                            <h4><a href="/questions"> Kunjika</a></h4>
                            <p>
                                Kunjika is the QA platform for novice and experts.</br>
			    Questions Asked : {{ qcount }}
				Total Answers :   {{ acount }}
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6" data-scrollreveal="enter bottom and move 100px, wait 0.6s">
                        <div class="text-center">
                            <i class="fa fa-book icon-round bk-color-blue"></i>
                            <h4><a href="/articles">Articles</a></h4>
                            <p>Articles are the base of knowledge sharing in Kunjika.</br>
			    Articles Count: {{ art_count }}
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6" data-scrollreveal="enter right and move 100px, wait 0.6s">
                        <div class="text-center">
                            <i class="fa fa-users icon-round bk-color-green"></i>
                            <h4><a href="/poll">Polls</a></h4>
                            <p>Polls can be used to know public opinion on topics for example compilers, IDEs , OSes etc.</br>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6" data-scrollreveal="enter left and move 100px, wait 0.6s">
                        <div class="text-center">
                            <i class="fa fa-flask icon-round bk-color-brown"></i>
                            <h4><a href="/tests">Test Series</a></h4>
                            <p>Test series is a TODO feature which will allow users to test their knowledge and get a ranking in the subject.</p>
                        </div>
                    </div>
                </div>
                <!-- ./ Content div-->
            </div>
        </div>
    </section>
    <!--END SERVICES SECTION -->

    <!--CONTACT SECTION -->
    <section id="contact-section">
        <div class="wrap-pad">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 " data-scrollreveal="enter top and move 100px, wait 0.5s">
                    <div class="text-center">
                        <h1><i class="fa fa-tint small-icons bk-color-blue"></i>Contact Us</h1>
                        <p class="lead">
                            Got a burning query, have a suggestion or want to fuel our efforts, let us know, we are more than eager to hear you!
                        </p>
                    </div>
                </div>
                <!-- ./ Heading div-->
                <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1  margin-top-20">
                    <div class="col-md-6  col-sm-12" data-scrollreveal="enter left and move 100px, wait 0.6s">
                        <h3><i class="fa fa-pencil small-icons bk-color-blue"></i>Send Us Your Query</h3>
                        <hr />
                        {% from "macros.html" import render_field %}
                        <form id="query" method="post" action="/query">
                            <div class="row" style="margin-top: -20px">
                                <div class="col-md-6 col-sm-6">
                                    <div class="form-group">
                                        {{ form.csrf_token }}
                                        {{ render_field(form.name, class="form-control", placeholder="Name") }}
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <div class="form-group">
                                        {{ render_field(form.email, class="form-control", placeholder="Email") }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-sm-12">
                                    <div class="form-group">
                                        {{ render_field(form.message, rows="6", class="form-control", style="margin-top: -20px", placeholder="Your Message") }}
                                    </div>
                                    <div class="form-group"  style="margin-top: -20px">
                                        {{ render_field(form.recaptcha, class="form-control", placeholder="Your Message") }}
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary btn-lg">Submit Query</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-4 col-md-offset-1  col-sm-12" data-scrollreveal="enter right and move 100px, wait 0.6s">
                        <h3><i class="fa fa-comments small-icons bk-color-blue"></i>Reach Us at</h3>
                        <hr />
                        Bangalore, India<br />
                        Email: info@10hash.com<br />
                        <h3><i class="fa fa-plus-square small-icons bk-color-blue" target="_blank"></i>Social Connect</h3>
                        <a href="https://www.facebook.com/10hash" target="_blank" style="margin-right: 20px"><i class="fa fa-facebook fa-3x color-facebook"></i></a>
                        <a href="https://www.twitter.com/tenhash" target="_blank" style="margin-right: 20px"><i class="fa fa-twitter fa-3x color-twitter"></i></a>
                        <a href="https://www.google.com/+10hash" target="_blank" style="margin-right: 20px"><i class="fa fa-google-plus fa-3x color-google-plus"></i></a>
                        <a href="https://www.linkedin.com/company/10hash" target="_blank" style="margin-right: 20px"><i class="fa fa-linkedin fa-3x color-linkedin"></i></a>
                        <!-- <a href="#"><i class="fa fa-pinterest fa-3x color-pinterest"></i></a> -->
                    </div>
                </div>
                <!-- ./ Content div-->
            </div>
        </div>
    </section>
    <!--END CONTACT SECTION -->
    <!--FOOTER SECTION -->
    <footer id="footer">
        <div class="row">
            <div class="col-md-12  col-sm-12">
                &copy; 2014 10hash.com  |  All Rights Reserved

            </div>
        </div>
    </footer>
    <!--END FOOTER SECTION -->
    <!-- JAVASCRIPT FILES PLACED AT THE BOTTOM TO REDUCE THE LOADING TIME  -->
    <!-- CORE JQUERY LIBRARY -->
    <!-- BOOTSTRAP SCRIPTS LIBRARY -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <!-- PRETTYPHOTO  SCRIPTS  LIBRARY-->
    <script src="/static/js/jquery.prettyPhoto.js"></script>
     <!-- SCROLL REVEL  SCRIPTS  LIBRARY-->
    <script src="/static/js/scrollReveal.js"></script>
    <!-- CUSTOM SCRIPT-->
    <script src="/static/js/custom.js"></script>
        <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.12.0/jquery.validate.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#query').validate({
                debug: true,
                rules: {
                    name: {
                        required: true,
                        minlength: 2,
                        maxlength: 32,
                        required: true
                    },
                    email: {
                        required: true,
                        email: true,
                        minlength: 5,
                        maxlength: 48
                    },
                    message: {
                        required: true,
                        minlength: 20,
                        maxlength: 5000
                    }
                },
                highlight: function (element) {
                    $(element).closest('.control-group').removeClass('success').addClass('error');
                },
                success: function (element) {
                    element.addClass('valid').closest('.control-group').removeClass('error').addClass('success');
                },
                submitHandler: function (form) {
                    form.submit();
                }
            });
        });
    var colorChanger = function() {
        r = Math.floor(Math.random()*255);
        g = Math.floor(Math.random()*255);
        b = Math.floor(Math.random()*255);
        $('#slide-head').css('background-color', 'rgb(' +r + ',' + g + ',' + b);
     };
     var interval = 1000 * 5;
     setInterval(colorChanger, interval);

    </script>
</body>
</html>
