{% extends "base.html" %}
{% block title %}{{ title }} - Kunjika{% endblock %}

{% block container %}
<div class="container">
    <div class="" id="loginModal">
        <div class="page-header">
            <h3>Have an Account?</h3>
        </div>
        <div>
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#login" data-toggle="tab">Login</a>
                    </li>
                    <li>
                        <a href="#create" data-toggle="tab">Create Account</a>
                    </li>
                </ul>
                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane active in login-form" id="login" >
                        <div class="row">

                            <div class="main">
                              <h3>Please Log In, or <a href="/register">Sign Up</a></h3>
                              <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                  <a ref='/fb_login' class="btn btn-block btn-social btn-facebook">
                                    <i class="fa fa-facebook"></i> Facebook
                                  </a>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                     <a href='/google_login' class="btn btn-block btn-social btn-google-plus">
                                       <i class="fa fa-google-plus"></i> Google
                                    </a>
                                </div>
                              </div>
                              <div class="login-or">
                                <hr class="hr-or colorgraph">
                                <span class="span-or">or</span>
                              </div>

                              <form role="form" action='/login' method="post">
                                {% from "macros.html" import render_field %}
                                {{ loginForm.csrf_token }}
                                <div class="form-group">
                                    {{ render_field(loginForm.email, class="form-control") }}
                                </div>
                                <div class="form-group">
                                    <a class="pull-right" href="/reset_password">Forgot password?</a>
                                    {{ render_field(loginForm.password, class="form-control") }}
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn btn-primary">
                                      <i class="fa fa-sign-in"></i> Log In
                                    </button>
                                </div>
                              </form>
                            
                            </div>
                            
                          </div>
                    </div>
                    <div class="tab-pane fade" id="create">
                        
                        <div class="row">
                            <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
                                <form role="form" id="tab" method="post" action="/register">
                                    <h2>Please Sign Up <small>It's free and always will be.</small></h2>
                                    <hr class="colorgraph">
                                    <div class="row">
                                        {% from "macros.html" import render_field %}
                                        {{ form.csrf_token }}
                                        <div class="col-xs-12 col-sm-6 col-md-6">
                                            <div class="form-group">
                                                {{ render_field(form.fname, class="form-control") }}
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-6 col-md-6">
                                            <div class="form-group">
                                                {{ render_field(form.lname, class="form-control") }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <a class="pull-right" name="check_acailability" id="check_availability" href="#">Check Availability</a>
                                        <div id="availability_result"></div>

                                        {{ render_field(form.email1, class="form-control") }}
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-6 col-md-6">
                                            <div class="form-group">
                                                {{ render_field(form.password, class="form-control") }}
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-6 col-md-6">
                                            <div class="form-group">
                                                {{ render_field(form.confirm, class="form-control") }}
                                            </div>
                                        </div>
                                    </div>
                                   
                                    <div class="form-group">
                                        {{ form.recaptcha }}
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                             By clicking <strong class="label label-primary">Register</strong>, you agree to the <a href="/legal/privacy-policy">privacy policy</a>
                                             and <a href="/legal/terms-of-service">terms of service</a>.
                                        </div>
                                    </div>

                                    <hr class="colorgraph">
                                    <div class="row">
                                        <div class="col-xs-12 col-md-6">
                                            <button type="submit" value="" class="btn btn-primary btn-block">Register</button>
                                        </div>
                                        <div class="col-xs-12 col-md-6"><a href="/login" class="btn btn-success btn-block">Sign In</a></div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>
    <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.12.0/jquery.validate.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#tab').validate({
                debug: true,
                rules: {
                    username: {
                        minlength: 4,
                        maxlength: 16,
                        required: true
                    },
                    email1: {
                        required: true,
                        email: true,
                        minlength: 5,
                        maxlength: 128
                    },
                    url: {
                        required: false,
                        url: true,
                        minlength: 5,
                        maxlength: 64
                    },
                    password: {
                        required: true,
                        minlength: 8,
                        maxlength: 32,
                        equalTo: '#confirm'
                    },
                    confirm: {
                        required: true,
                        minlength: 8,
                        maxlength: 32
                    },
                    fname: {
                        minlength: 2,
                        maxlength: 32,
                        required: true
                    },
                    lname: {
                        minlength: 2,
                        maxlength: 32,
                        required: true
                    }
                },
                highlight: function (element) {
                    $(element).closest('.control-group').removeClass('success').addClass('error');
                },
                success: function (element) {
                    element.addClass('valid').closest('.control-group').removeClass('error').addClass('success');
                },
                submitHandler: function (form) {
                    form.submit();
                }
            });

            $('#check_availability').click(function (event) {
                var checking_html = 'Checking...';
                $('#availability_result').html(checking_html);
                check_availability();
                event.preventDefault();
            });
        });
        function check_availability() {

            //get the username
            var email = $('#email1').val();

            //use ajax to run the check
            $.post("/check_email", {
                email: email
            }, function (result) {
                //if the result is 1
                if (result == "1") {
                    //show that the username is available
                    $('#availability_result').html('<p style="color:#040"><br/>' + email + ' is available as username.</p>');
                } else {
                    //show that the username is NOT available
                    $('#availability_result').html('<p style="color:#770"><br/>' + email + ' is already registered.</p>');
                }
            });
        }
    </script>
{% endblock %}

