{% macro alert(content, type=None, alert_header=None, close_button=True) -%}
    {# type can be success, error (or danger), info. Defaults to a warning style. #}
    <div class="alert
{%- if alert_header %} alert-block{% endif -%}
{%- if type %} alert-{{ type }}{% endif -%}
{%- if close_button %} fade in{% endif %}">
        {% if close_button -%}
            <a class="close" data-dismiss="alert">&times;</a>
        {%- endif %}
        {% if alert_header -%}
            <h4 class="alert-heading">{{ alert_header|safe }}</h4>
        {%- endif %}

        {{ content|safe }}

    </div>
{%- endmacro %}

{% macro label(content, type='warning') -%}
    <span class="label label-{{ type }}">{{ content|safe }}</span>
{%- endmacro %}


{# Inserts ".min" into css and javascript files if not in debug mode or if force_min is true #}
{%- macro debugmin(force_min=False) -%}{% if not DEBUG or force_min %}.min{% endif %}{%- endmacro -%}

{% macro render_field(field) %}
    {% if field.errors %}
      <div class="control-group has-error">
    {% else %}
      <div class="control-group">
    {% endif %}
        {{ field.label(class="control-label") }}
        <div class="controls">
            {% if field.errors %}
                {% set css_class = 'has_error ' + kwargs.pop('class', '') %}
                {{ field(class=css_class, **kwargs) }}
                <ul class="errors">{% for error in field.errors %}<li>{{ error|e }}</li>{% endfor %}</ul>
            {% else %}
                {{ field(**kwargs) }}
            {% endif %}
        </div>
      </div>
{% endmacro %}

{% macro render_pagination(pagination) %}
  {% if pagination.pages > 1  %}
    <div>
      <ul class="pagination">
        {%- for page in pagination.iter_pages() %}
          {% if page %}
            {% if page != pagination.page %}
              <li>
                  <a href="{{ url_for_other_page(page) }}">{{ page }}</a>
              </li>
            {% else %}
              <li>
                <a style="color:#000">{{ page }}</a>
              </li>
            {% endif %}
          {% else %}
            <li>
                <span class=ellipsis>…</span>
            </li>
          {% endif %}
        {%- endfor %}
        {% if pagination.has_next %}
          <li>
              <a href="{{ url_for_other_page(pagination.page + 1) }}">Next &raquo;</a>
          </li>
        {% endif %}
        {% if pagination.has_prev %}
            <li>
                <a href="{{ url_for_other_page(pagination.page - 1) }}">&laquo; Previous</a>
            </li>
        {% endif %}
      </ul>
    </div>
  {% endif %}
{% endmacro %}

{% macro render_user_question_pagination(pagination) %}
  {% if pagination.pages > 1  %}
    <div>
      <ul class="pagination">
      {%- for page in pagination.iter_pages() %}
        {% if page %}
          {% if page != pagination.page %}
            <li>
                <a href="{{ url_for_other_user_question_page(page) }}">{{ page }}</a>
            </li>
          {% else %}
            <li>
                <a style="color:#000">{{ page }}</a>
            </li>
          {% endif %}
        {% else %}
            <li>
              <span class=ellipsis>…</span>
            </li>
        {% endif %}
      {%- endfor %}
      {% if pagination.has_next %}
          <li>
              <a href="{{ url_for_other_user_question_page(pagination.page + 1) }}">Next &raquo;</a>
          </li>
      {% endif %}
      {% if pagination.has_prev %}
          <li>
              <a href="{{ url_for_other_user_question_page(pagination.page - 1)
                  }}">&laquo; Previous</a>
          </li>
      {% endif %}
      </ul>
    </div>
   {% endif %}
{% endmacro %}

{% macro render_user_answer_pagination(pagination) %}
  {% if pagination.pages > 1  %}
    <div>
      <ul class="pagination">
          {%- for page in pagination.iter_pages() %}
            {% if page %}
              {% if page != pagination.page %}
                <li>
                  <a href="{{ url_for_other_user_answer_page(page) }}">{{ page }}</a>
                </li>
              {% else %}
                <li>
                    <a style="color:#000">{{ page }}</a>
                </li>
              {% endif %}
            {% else %}
                <li>
                    <span class=ellipsis>…</span>
                </li>
            {% endif %}
          {%- endfor %}
          {% if pagination.has_next %}
                <li>
                  <a href="{{ url_for_other_user_answer_page(pagination.page + 1)
                  }}">Next &raquo;</a>
                </li>
          {% endif %}
          {% if pagination.has_prev %}
              <li>
                <a href="{{ url_for_other_user_answer_page(pagination.page - 1)
                        }}">&laquo; Previous</a>  
              </li>
          {% endif %}
  </div>
  {% endif %}
{% endmacro %}

{% macro render_search_pagination(pagination, query) %}
  {% if pagination.pages > 1  %}
    <div>
      <ul class="pagination">
          {%- for page in pagination.iter_pages() %}
            {% if page %}
              {% if page != pagination.page %}
                <li>
                  <a href="{{ url_for_search_page(page, query) }}">{{ page }}</a>
                </li>
              {% else %}
                <li><a style="color: #0000">{{ page }}</a>
              {% endif %}
            {% else %}
            <li>
              <span class=ellipsis>…</span>
            </li>
            {% endif %}
          {%- endfor %}
          {% if pagination.has_next %}
            <li>
                <a href="{{ url_for_search_page(pagination.page + 1, query) }}">Next &raquo;</a>
            </li>
          {% endif %}
          {% if pagination.has_prev %}
              <li>
                  <a href="{{ url_for_search_page(pagination.page - 1, query) }}">&laquo; Previous</a>
              </li>
          {% endif %}
        </ul>
  </div>
  {% endif %}
{% endmacro %}

{% macro render_browse_pagination(pagination) %}
  {% if pagination.pages > 1  %}
    <div>
      <ul class="pagination">
          {%- for page in pagination.iter_pages() %}
            {% if page %}
              {% if page != pagination.page %}
              <li>
                  <a href="{{ url_for_browse_page(page) }}">{{ page }}</a>
                  </li>
              {% else %}
              <li>
                  <strong>{{ page }}</strong>
                  </li>
              {% endif %}
            {% else %}
            <li>
                <span class=ellipsis>…</span>
                </li>
            {% endif %}
          {%- endfor %}
          {% if pagination.has_next %}
            <li>
                <a href="{{ url_for_browse_page(pagination.page + 1) }}">Next &raquo;</a>
            </li>
          {% endif %}
          {% if pagination.has_prev %}
              <li>
                  <a href="{{ url_for_browse_page(pagination.page - 1) }}">&laquo; Previous</a>
              </li>
          {% endif %}
      </ul>
  </div>
  {% endif %}
{% endmacro %}
