{% extends "base.html" %}
{% block title %}{{ title }} - Kunjika{% endblock %}

{% block css_site %}
    <link href="/static/css/wmd.css" rel="stylesheet">
    {{ super() }}    
{% endblock %}
{% block container %}
    <div class="row">
    <div class="col-md-9">
        <div class="page-header">
            <h3>Please Set Your Options</h3>
        </div>
        <form class="ask-form" method="post" aciton="/add_objective_question">
            {% from "macros.html" import render_field %}
            {{ form.csrf_token }}

            {{ render_field(form.oq_answers, style="margin-left:10px") }}
            <div class="controls">
                <button class="btn btn-primary">
                    Next
                </button>
            </div>
        </form>
    </div>
    </div>
{% endblock %}
