{% extends "base.html" %}
{% block title %}{{ title }} - Kunjika{% endblock %}

{% block container %}
    <div class="row">
     <div class="col-md-9">
        <div class="page-header">
            <h3>Please choose your options for poll question</h3>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <form class="ask-form" method="post" aciton="/poll" role="form">
                    {% from "macros.html" import render_field %}
                    {{ form.csrf_token }}
                    <div class="form-group">
                        {{ render_field(form.poll_answers , class="form-control") }}
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary">
                            Next <span class="fa fa-angle-double-right"></span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-3">
         <div class="site-stats">
            <div class="module">
                <span class="fa fa-question"></span>
                <span class="summary-count">{{ qcount }}</span>
                <span class="summary-text">questions</span>
            </div>
            <div class="module">
                <span class="fa fa-comment"></span>
                <span class="summary-count">{{ acount }}</span>
                <span class="summary-text">answers</span>
            </div>
            <div class="module">
                <span class="fa fa-users"></span>
                <span class="summary-count">{{ ucount }}</span>
                <span class="summary-text">users</span>
            </div>
            <div class="module">
                <span class="fa fa-tags"></span>
                <span class="summary-count">{{ tcount }}</span>
                <span class="summary-text">tags</span>
            </div>
        </div>
            <div id="popular-tags" class="module">
                <h3><a href="/tests">Tests</a></h3>
            </div>
        <div class="popular-tags" class="module">
            <div class="page-header">
                <h4>Popular Tags</h4>
            </div>
            
            {% for tag in tag_list %}
                <a href="/questions/tagged/{{ tag['tag'] }}" class="post-tag" title="show questions tagged '{{ tag['tag'] }}'" rel="tag">
                    {{ tag['tag'] }} 
                    <span class="tag-count">{{ tag['count'] }}</span> 
                </a>
                
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
