{% extends "base.html" %}
{% block title %}{{ title }} - Kunjika{% endblock %}
{% block css_bootstrap %}
    {{ super() }}
    {# TODO: probably remove this and let the user set it manually? #}
    <style>
        body {
            padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
        }
    </style>
{% endblock %}
{% block css_site %}
    <link href="/static/css/kunjika.css" rel="stylesheet">
{% endblock %}
{% block container %}
    <div class="row">
     <div class="col-md-9">
        <div class="page-header">
            <h3>Please set your options</h3>
        </div>
        <form class="ask-form" method="post" aciton="/poll">
            {% from "macros.html" import render_field %}
            {{ form.csrf_token }}

            {{ render_field(form.poll_answers) }}
            <div class="controls">
                <button class="btn btn-primary">
                    Next
                </button>
            </div>
        </form>
    </div>
    <div class="col-md-3">
         <div class="site-stats">
            <div class="module">
                <span class="fa fa-question"></span>
                <span class="summary-count">{{ qcount }}</span>
                <span class="summary-text">questions</span>
            </div>
            <div class="module">
                <span class="fa fa-comment"></span>
                <span class="summary-count">{{ acount }}</span>
                <span class="summary-text">answers</span>
            </div>
            <div class="module">
                <span class="fa fa-users"></span>
                <span class="summary-count">{{ ucount }}</span>
                <span class="summary-text">users</span>
            </div>
            <div class="module">
                <span class="fa fa-tags"></span>
                <span class="summary-count">{{ tcount }}</span>
                <span class="summary-text">tags</span>
            </div>
        </div>
            <div id="popular-tags" class="module">
                <h3><a href="/tests">Tests</a></h3>
            </div>
        <div class="popular-tags" class="module">
            <div class="page-header">
                <h4>Popular Tags</h4>
            </div>
            
            {% for tag in tag_list %}
                <a href="/questions/tagged/{{ tag['tag'] }}" class="post-tag" title="show questions tagged '{{ tag['tag'] }}'" rel="tag">
                    {{ tag['tag'] }} 
                    <span class="tag-count">{{ tag['count'] }}</span> 
                </a>
                
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block page_footer %}
    <div class="row">
        <div class="container">
            <hr/>
            <p>&copy; 2013 <a href="http://libreprogramming.org">libreprogramming.org</a>. Developed by Binita Ruby,
                Shashikant &amp; Shiv Shankar Dayal.<br/>
                Licensed under GNU GPL. Contents are under GNU GPL.</p>
        </div>
    </div>
    </div>

{% endblock %}
