{% extends "base.html" %}
{% block title %}{{ title }} - Kunjika{% endblock %}
{% block css_bootstrap %}
    {{ super() }}
    {# TODO: probably remove this and let the user set it manually? #}
    <style>
        body {
            padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
        }
    </style>
{% endblock %}
{% block css_site %}
    <link href="/static/css/kunjika.css" rel="stylesheet">
{% endblock %}
{% block container %}
    <div class="row-fluid">
    <h3>Please set your options</h3>
    <div class="mainbar" id="mainbar">
        <form class="ask-form" method="post" aciton="/poll">
            {% from "macros.html" import render_field %}
            {{ form.csrf_token }}

            {{ render_field(form.poll_answers) }}
            <div class="controls">
                <button class="btn btn-primary">
                    Next
                </button>
            </div>
        </form>
    </div>
    <div id="sidebar">
    <div class="count">
        <div class="module" id="questions-count">
            <div class="summarycount al">{{ qcount }}</div>
            <p>questions</p>
        </div>
        <div class="module" id="questions-count">
            <div class="summarycount al">{{ acount }}</div>
            <p>answers</p>
        </div>
        <div class="module" id="questions-count">
            <div class="summarycount al">{{ ucount }}</div>
            <p>users</p>
        </div>
        <div class="module" id="questions-count">
            <div class="summarycount al">{{ tcount }}</div>
            <p>tags</p>
        </div>
    </div>
            <div id="popular-tags" class="module">
                <h3><a href="/tests">Tests</a></h3>
            </div>
        <div id="popular-tags" class="module">
            <h4 id="h-popular-tags">Popular Tags</h4>
            {% for tag in tag_list %}
                <a href="/questions/tagged/{{ tag['tag'] }}" class="post-tag"
                   title="show questions tagged '{{ tag['tag'] }}'" rel="tag">{{ tag['tag'] }}</a>
                <span class="item-multiplier"><span class="item-multiplier-x">×</span>&nbsp;<span
                        class="item-multiplier-count">{{ tag['count'] }}</span></span>
                <br/>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block page_footer %}
    <div class="row-fluid">
        <div class="container">
            <hr/>
            <p>&copy; 2013 <a href="https://10hash.com">10hash.com</a>. Developed by Binita Ruby,
                Shashikant &amp; Shiv Shankar Dayal.<br/>
                Licensed under GNU GPL. Contents are under GNU GPL.</p>
        </div>
    </div>
    </div>

{% endblock %}
