{% extends "base.html" %}
{% block title %}{{title}} - Kunjika{% endblock %}
{% block css_bootstrap %}
{{ super() }}
{# TODO: probably remove this and let the user set it manually? #}
<style>
  body {
  padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
  }
</style>
{% endblock %}

{% block css_site %}
<link href="/static/css/kunjika.css" rel="stylesheet">

{% endblock %}
{% block container %}
<div class="row-fluid">
  <div id="mainbar" class="mainbar">
    <p>wfhw</p>
  </div>
  <div id="sidebar" class="sidebar">
    <p>wpifiwe</p>
  </div>
</div>
</div>
{% endblock %}
