{% extends "base.html" %}
{% block title %}{{ title }} - Kunjika{% endblock %}
{% block css_bootstrap %}
    {{ super() }}
    {# TODO: probably remove this and let the user set it manually? #}
    <style>
        body {
            padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
        }
    </style>
{% endblock %}
{% block container %}
    <div class="container">
        <div>
            <div class="modal-header">
                <h3>Reset Password</h3>
            </div>
            <div class="modal-body">
                <div class="well">
                {% if token is not defined %}
                    <form class="form-horizontal" id="tab" action='/reset_password' method="post">
                {% else %}
                    <form class="form-horizontal" id="tab" action='/reset_password/{{ token }}' method="post">
                {% endif %}
                        <fieldset>
                            <div id="legend">
                                <legend class="">
                                    Login
                                </legend>
                            </div>
                            {% from "macros.html" import render_field %}

                            {% if emailForm is defined %}
                                {{ emailForm.csrf_token }}
                                {{ render_field(emailForm.email, class="input-xlarge") }}
                                <div class="control-group">
                                    <!-- Button -->
                                    <div class="controls">
                                        <button class="btn btn-primary">
                                            Submit
                                        </button>
                                    </div>
                                </div>
                            {% elif passwordResetForm is defined %}
                                {{ passwordResetForm.csrf_token }}
                                {{ render_field(passwordResetForm.password, class="input-xlarge") }}
                                {{ render_field(passwordResetForm.confirm, class="input-xlarge") }}
                                <div class="control-group">
                                    <!-- Button -->
                                    <div class="controls">
                                        <button class="btn btn-primary">
                                            Reset Password
                                        </button>
                                    </div>
                                </div>
                            {% endif %}
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.12.0/jquery.validate.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#tab').validate({
                debug: true,
                rules: {
                    password: {
                        required: true,
                        minlength: 8,
                        maxlength: 32,
                        equalTo: '#confirm'
                    },
                    confirm: {
                        required: true,
                        minlength: 8,
                        maxlength: 32
                    }
                },
                highlight: function (element) {
                    $(element).closest('.control-group').removeClass('success').addClass('error');
                },
                success: function (element) {
                    element.addClass('valid').closest('.control-group').removeClass('error').addClass('success');
                },
                submitHandler: function (form) {
                    form.submit();
                }
            });
        });
    </script>
{% endblock %}
