{% extends "base.html" %}
{% block title %}Edit your settings {{ user['name'] }} - Kunjika{% endblock %}

{% block css_site %}
    {{ super() }}
    <script src="/static/js/jquery.cookie.js"></script>
    <script src="/static/js/jquery.form.js"></script>
    <script>
        $(document).ready(function () {
            var options = {
                success: showResponse,  // post-submit callback
                url: '/users/{{ user_id }}/{{ name }}/settings',         // override for form's 'action' attribute
                //type:      'post',        // 'get' or 'post', override for form's 'method' attribute
                //dataType:  'json',        // 'xml', 'script', or 'json' (expected server response type)
                clearForm: true,        // clear all form fields after successful submit
                resetForm: true        // reset the form after successful submit

                // $.ajax options can be used here too, for example:
                //timeout:   3000
            };

            // bind form using 'ajaxForm'
            $('#passwd').ajaxForm(options);
            function showResponse(responseText, statusText, xhr, $form) {
                responseJSON = jQuery.parseJSON(responseText);
                if (responseJSON.success == "true") {
                    flash('Your password was successfully changed.', 'success')
                }
                else {
                    flash('Password could not be changed. Please contact admin.')
                }
            }
        });
    </script>
{% endblock %}
{% block container %}
    <div class="row">
       <div class="col-md-9">
            <div class="userheader">
                <h3>Edit your settings {{ name }}</h3>
            </div>
            <div>
                <form class="form-horizontal" id='passwd' class="passwd"
                      action='/users/{{ user_id }}/{{ name }}/settings'
                      method="post">
                    <fieldset>
                        <div id="legend">
                            <legend class="">
                                Change Password
                            </legend>
                            {% from "macros.html" import render_field %}
                            {{ form.csrf_token }}
                            {{ render_field(form.password, class="input-xlarge") }}
                            {{ render_field(form.confirm, class="input-xlarge") }}
                            <div class="control-group">
                                <!-- Button -->
                                <div class="controls">
                                    <input class="btn btn-primary" type="submit" value="Change Password">
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="userheader" style="padding-bottom: 20px">
                <legend class="">
                    Notification Settings
                </legend>
                <label class="checkbox settings" style="margin-left: 180px">
                    {% if user['receive-emails'] == False %}
                        <input type="checkbox" id="notify"> Recieve Notification Emails
                    {% else %}
                        <input type="checkbox" id="notify" checked="checked"> Recieve Notification Emails
                    {% endif %}
                </label>
                <!--label class="checkbox settings" style="margin-left: 180px">
                    {#% if user['receive-invites'] == False %}
                        <input type="checkbox" id="invites"> Recieve Private Group Invites
                    { else }
                        <input type="checkbox" id="invites" checked="checked"> Recieve Private Group Invites
                    { endif #}
                </label-->
            </div>
        </div>
        <div class="col-md-3">
             <div class="site-stats">
                <div class="module">
                    <span class="fa fa-question"></span>
                    <span class="summary-count">{{ qcount }}</span>
                    <span class="summary-text">questions</span>
                </div>
                <div class="module">
                    <span class="fa fa-comment"></span>
                    <span class="summary-count">{{ acount }}</span>
                    <span class="summary-text">answers</span>
                </div>
                <div class="module">
                    <span class="fa fa-users"></span>
                    <span class="summary-count">{{ ucount }}</span>
                    <span class="summary-text">users</span>
                </div>
                <div class="module">
                    <span class="fa fa-tags"></span>
                    <span class="summary-count">{{ tcount }}</span>
                    <span class="summary-text">tags</span>
                </div>
            </div>
            <div class="popular-tags" class="module">
                <div class="page-header">
                    <h4>Popular Tags</h4>
                </div>
                
                {% for tag in tag_list %}
                    <a href="/questions/tagged/{{ tag['tag']|urlencode }}" class="post-tag" title="show questions tagged '{{ tag['tag'] }}'" rel="tag">
                        {{ tag['tag'] }} 
                        <span class="tag-count">{{ tag['count'] }}</span> 
                    </a>
                    
                {% endfor %}
            </div>
            <div id="popular-tags" class="module">
                <h3><a href="/tests">Tests</a></h3>
            </div>
            <div id="popular-tags" class="module">
                <h4 id="h-popular-tags">Similar questions</h4>
                {% for question in similar_questions %}
                    <a href="/questions/{{ question[0] }}/{{ question[2] }}" class="post-tag"
                       rel="tag">{{ question[1] }}</a>
                    <!-- br/ -->
                {% endfor %}
            </div>
        </div>
    </div>
    <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.12.0/jquery.validate.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#passwd').validate({
                debug: true,
                rules: {
                    password: {
                        required: true,
                        minlength: 8,
                        maxlength: 32,
                        equalTo: '#confirm'
                    },
                    confirm: {
                        required: true,
                        minlength: 8,
                        maxlength: 32,
                        equalTo: '#password'
                    }
                },
                highlight: function (element) {
                    $(element).closest('.control-group').removeClass('success').addClass('error');
                },
                success: function (element) {
                    element.closest('.control-group').addClass('valid').removeClass('error').addClass('success');
                },
                submitHandler: function (form) {
                    form.submit();
                }
            });
            $('#notify').click(function () {
                $.getJSON('/notify', {
                    id: $(this).attr('id'),
                    url: $(location).attr('href')
                }, function (data) {
                    if (data.success == 'false') {
                        $('#notify').prop('checked', false);
                        flash('You will receive no more notifications.', 'info')
                    } else {
                        $('#notify').prop('checked', true);
                        flash('Thanks for opting for notifications.', 'success')
                    }
                });
                return false;
            });
            /*$('#invites').click(function () {
                $.getJSON('/invites', {
                    id: $(this).attr('id'),
                    url: $(location).attr('href')
                }, function (data) {
                    if (data.success == 'false') {
                        $('#invites').prop('checked', false);
                        flash('You will receive no more private group invites.', 'info')
                    } else {
                        $('#invites').prop('checked', true);
                        flash('Thanks for opting for private group invites.', 'success')
                    }
                });
                return false;
            });*/
        });
    </script>
{% endblock %}
