{% extends "base.html" %}
{% block title %}{{ article['title'] }} - Kunjika{% endblock %}
{% block meta_keywords %}{% for tag in article['tags'] %}{{ tag }},{% endfor %}{% endblock %}

{% block css_site %}
    <link href="/static/css/wmd.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/solarized_light.css">
    <link href="/static/css/token-input.css" rel="stylesheet">
    {{ super() }}
    <script type="text/javascript" src="/static/js/Markdown.Converter.js"></script>
    <script type="text/javascript" src="/static/js/Markdown.Sanitizer.js"></script>
    <script type="text/javascript" src="/static/js/Markdown.Editor.js"></script>
    <script type="text/javascript" src="/static/js/Markdown.Extra.js"></script>
    <script type="text/javascript" src="/static/js/jquery.tokeninput.js"></script>
    <script src="https://malsup.github.com/jquery.form.js"></script>
    <script src="/static/js/highlight.js"></script>

    <script>
        function toggleDiv(divid) {
            var objDiv = document.getElementById(divid);
            var id = '#' + divid;
            console.log('#' + divid);
            $(id).toggle("slow");

            if ($(id).hasClass('ran')) {

            } else {
                $(id).addClass('ran');

                var converter = new Markdown.Converter();
                var help = function () {
                    window.open('{{ config['HOST_URL'] }}editing-help');
                }
                Markdown.Extra.init(converter, {
                    extensions: "all",
                    highlighter: "highlight"
                });
                var editor = new Markdown.Editor(converter, '-' + divid, { handler: help });

                var str = '#insertImageDialog' + '-' + divid;
                //alert(str);
                var $dialog = $(str).dialog({
                    autoOpen: false,
                    closeOnEscape: false,
                    open: function (event, ui) {
                        $(".ui-dialog-titlebar-close").hide();
                    }
                });
                var $loader = $('span.loading-small', $dialog);
                var $url = $('input[type=text]', $dialog);
                var $file = $('input[type=file]', $dialog);

                editor.hooks.set('insertImageDialog', function (callback) {

                    // dialog functions
                    var dialogInsertClick = function () {
                        callback($url.val().length > 0 ? $url.val() : null);
                        dialogClose();
                    };

                    var dialogCancelClick = function () {
                        dialogClose();
                        callback(null);
                    };

                    var dialogClose = function () {
                        // clean up inputs
                        $url.val('');
                        $file.val('');
                        $dialog.dialog('close');
                    };

                    // set up dialog button handlers
                    $dialog.dialog('option', 'buttons', {
                        'Insert': dialogInsertClick,
                        'Cancel': dialogCancelClick
                    });

                    var uploadStart = function () {
                        $loader.show();
                    };

                    var uploadComplete = function (response) {
                        $loader.hide();
                        if (response.success) {
                            callback(response.imagePath);
                            dialogClose();
                        } else {
                            alert(response.message);
                            $file.val('');
                        }
                        editor.refreshPreview();
                    };

                    // upload
                    $file.unbind('change').ajaxfileupload({
                        action: $file.attr('data-action'),
                        onStart: uploadStart,
                        onComplete: uploadComplete
                    });

                    // open the dialog
                    $dialog.dialog('open');

                    return true; // tell the editor that we'll take care of getting the image url
                });
                //editor.hooks.chain("onPreviewRefresh", prettyPrint); // google code prettify
                hljs.initHighlightingOnLoad();
                editor.run();
            }
        }
    </script>
    <script>
        $(document).ready(function () {
            var options = {
                //target:        '#output1',   // target element(s) to be updated with server response
                //beforeSubmit:  showRequest,  // pre-submit callback
                success: showResponse,  // post-submit callback

                // other available options:
                url: '/article_comment',         // override for form's 'action' attribute
                //type:      'post',        // 'get' or 'post', override for form's 'method' attribute
                //dataType:  'json',        // 'xml', 'script', or 'json' (expected server response type)
                clearForm: true,        // clear all form fields after successful submit
                resetForm: true        // reset the form after successful submit

                // $.ajax options can be used here too, for example:
                //timeout:   3000
            };

            // bind form using 'ajaxForm'
            $('form.comment-form').ajaxForm(options);
            //function showRequest(formData, jqForm, options) {
            // formData is an array; here we use $.param to convert it to a string to display it
            // but the form plugin does this for you automatically when it submits the data
            //var queryString = $.param(formData);

            // jqForm is a jQuery object encapsulating the form element.  To access the
            // DOM element for the form do this:
            // var formElement = jqForm[0];

            //alert('About to submit: \n\n' + queryString);

            // here we could return false to prevent the form from being submitted;
            // returning anything other than false will allow the form submit to continue
            //return true;
            //}
            function showResponse(responseText, statusText, xhr, $form) {
                var converter = new Markdown.Converter();
                Markdown.Extra.init(converter, {
                    extensions: "all",
                    highlighter: "prettify"
                });

                responseJSON = jQuery.parseJSON(responseText);
                str = '<div class="comment acomment" id="c-' + responseJSON.id + '">';
                comment = converter.makeHtml(responseJSON.comment);
                str += comment;
                str += " - <a href='/users/" + responseJSON.user_id + "/" + responseJSON.uname + "'>" + responseJSON.uname + "</a>"
                str += " " + responseJSON.ts + ' <a title="edit" href="/edit_article/ce-' + responseJSON.aid + '_' + responseJSON.cid + '"> <i class="fa fa-edit"></i></a></div>'
                $(str).insertAfter('#h3-comment');
                flash('Your comment has been successfully posted.', 'info')
            }
        });
    </script>
{% endblock %}
{% block container %}
    <div class="row">
   <div class="col-md-9">
    <div class="q-header">
            <h1>{{ article['title'] }}</h1>
    </div>
    <table>
        <tr>
            <td class="post">
                <div class="post-tags"><i class="fa fa-tags" title="Tags" style="color:#a4c639;"></i>
                    {% for tag in article['tags'] %}
                        {{ tag }}
                    {% endfor %}
                </div>
                <div class="q-desc" id="q-desc">{{ article['content'] }}</div>
                <table class="poster">
                    <tbody>
                    <tr>
                        {% if user_id is defined and user_id|string == article['op'] or user_id == 1%}
                            <td class="vt">
                                <a href="/edit_draft/{{ article['aid'] }}" class="suggest-edit-post" title=""><i
                                        class="fa fa-edit"></i> Edit</a>
                            </td>
                        {% elif user_id is defined %}
                        {% else %}
                            <td class="vt">
                            </td>
                        {% endif %}
                        <td class="post-signature owner" align="right">
                            <div class="user-info ">
                                <div class="user-action-time">
                                    Written on <span title=""
                                                   class="relativetime">{{ article['tstamp'] }} </span>
                                </div>
                                <div class="user-gravatar32">
                                    <a href="/users/{{ article['op'] }}/{{ article['opname'] }}">
                                        <div class=""><img
                                                src="{{ article['email']|gravatar }}"
                                                alt="" height="32" width="32"></div>
                                    </a>
                                </div>
                                <div class="user-details">
                                    <a href="/users/{{ article['op'] }}/{{ article['opname']|urlencode }}">{{ article['opname'] }}</a><br>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </table>
    </div>
    <script type="text/javascript">
            var converter = new Markdown.Converter();
            Markdown.Extra.init(converter, {
                extensions: "all",
                highlighter: "highlight",
                table_class: "table-bordered table"
            });

            var originalHTML = $("#q-desc").text();
            var convertedHTML = converter.makeHtml(originalHTML);
            $("#q-desc").html(convertedHTML);
            $(".content").each(function () {
                var originalHTML = $(this).text();
                var convertedHTML = converter.makeHtml(originalHTML);
                $(this).html(convertedHTML);
            });
            hljs.initHighlightingOnLoad();
    </script>
    <script type="text/javascript">
        (function () {
            if ($('#wmd-input').length > 0) {
                var converter = new Markdown.getSanitizingConverter();
                var help = function () {
                    window.open('{{ config['HOST_URL'] }}editing-help');
                }
                Markdown.Extra.init(converter, {
                    extensions: "all",
                    highlighter: "highlight",
                    table_class: "table-bordered table"
                });

                var editor = new Markdown.Editor(converter, null, { handler: help });

                var $dialog = $('#insertImageDialog').dialog({
                    autoOpen: false,
                    closeOnEscape: false,
                    open: function (event, ui) {
                        $(".ui-dialog-titlebar-close").hide();
                    }
                });
                var $loader = $('span.loading-small', $dialog);
                var $url = $('input[type=text]', $dialog);
                var $file = $('input[type=file]', $dialog);

                editor.hooks.set('insertImageDialog', function (callback) {

                    // dialog functions
                    var dialogInsertClick = function () {
                        callback($url.val().length > 0 ? $url.val() : null);
                        dialogClose();
                    };

                    var dialogCancelClick = function () {
                        dialogClose();
                        callback(null);
                    };

                    var dialogClose = function () {
                        // clean up inputs
                        $url.val('');
                        $file.val('');
                        $dialog.dialog('close');
                    };

                    // set up dialog button handlers
                    $dialog.dialog('option', 'buttons', {
                        'Insert': dialogInsertClick,
                        'Cancel': dialogCancelClick
                    });

                    var uploadStart = function () {
                        $loader.show();
                    };

                    var uploadComplete = function (response) {
                        $loader.hide();
                        if (response.success) {
                            callback(response.imagePath);
                            dialogClose();
                        } else {
                            alert(response.message);
                            $file.val('');
                        }
                        editor.refreshPreview();
                    };

                    // upload
                    $file.unbind('change').ajaxfileupload({
                        action: $file.attr('data-action'),
                        onStart: uploadStart,
                        onComplete: uploadComplete
                    });

                    // open the dialog
                    $dialog.dialog('open');

                    return true; // tell the editor that we'll take care of getting the image url
                });
                //editor.hooks.chain("onPreviewRefresh", highlight); // google code prettify
                hljs.initHighlightingOnLoad();
                editor.run();
            }
        })();
    </script>

{% endblock %}
