{% extends "base.html" %}
{% block title %}{{ title }} - Kunjika{% endblock %}
{% block css_bootstrap %}
    {{ super() }}
    {# TODO: probably remove this and let the user set it manually? #}
    <style>
        body {
            padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
        }
    </style>
{% endblock %}

{% block css_site %}
    <link href="/static/css/kunjika.css" rel="stylesheet">
    <link href="/static/css/wmd.css" rel="stylesheet">
    <link href="/static/css/prettify.css" rel="stylesheet">
    <!--    <link href="/static/css/googlecode.css" rel="stylesheet">-->
    <link href="/static/css/token-input.css" rel="stylesheet">
    <script type="text/javascript" src="/static/js/Markdown.Converter.js"></script>
    <script type="text/javascript" src="/static/js/Markdown.Sanitizer.js"></script>
    <script type="text/javascript" src="/static/js/Markdown.Editor.js"></script>
    <script type="text/javascript"
            src="/static/js/run_prettify.js?lang=clj&amp;lbg=erlang&amp;lang=matlab&amp;lang=sql&amp;lang=vb&amp;lang=css&amp;lang=go&amp;lang=pascal&amp;lan=tcl&amp;lang=yaml&amp;lan=basic&amp;lang=dart&amp;lan=lua&amp;lang=scala&amp;lang=wiki&amp;lang=tex"></script>
    <script type="text/javascript" src="/static/js/Markdown.Extra.js"></script>
    <script type="text/javascript" src="/static/js/jquery.tokeninput.js"></script>
    <!--    <script type="text/javascript" src="/static/js/highlight.pack.js"></script>
        <script>hljs.initHighlightingOnLoad();</script>-->
{% endblock %}
{% block container %}
    <div class="row-fluid">
        <div id="mainbar" class="mainbar">
            <div class="q-header">
                <h3>{{ questions['title'] }}</h3>
            </div>
            <div class="q-desc" id="q-desc">{{ questions['content']['description'] }}</div>
            <div class="post-tags">
                {% for tag in questions['content']['tags'] %}
                    <a class="post-tag" href="/questions/tagged/{{ tag }}">{{ tag }}</a>
                {% endfor %}
            </div>
        <table class="poster">
            <tbody>
            <tr>
                <td class="post-menu">
                    <a href="/posts/{{ questions['qid'] }}/edit" class="suggest-edit-post" title="">Improve this question</a>
                </td>
            </tr>
            </tbody>
        </table>
        </div>
        <div id="sidebar" class="sidebar">
            <p>wpifiwe</p>
        </div>
    </div>
    </div>
    <!--    <script type="text/javascript">
            $("document").ready(function () {
                //hljs.selected_languages = hljs.LANGUAGES;
                $("textarea").each(function () {
                    $(this).keypress(function () {
                        window.clearTimeout(hljs.Timeout);
                        hljs.Timeout = window.setTimeout(function () {
                            hljs.initHighlighting.called = false;
                            hljs.initHighlighting();

                        }, 200);
                    });
                });
                window.setTimeout(function () {
                    hljs.initHighlighting.called = false;
                    hljs.initHighlighting();
                }, 200);
            });
        </script>-->
    <script type="text/javascript">
        var converter = new Markdown.Converter();
        Markdown.Extra.init(converter, {
            extensions: "all",
            highlighter: "prettify"
        });

        var originalHTML = $("#q-desc").text();
        var convertedHTML = converter.makeHtml(originalHTML);
        $("#q-desc").html(convertedHTML);
    </script>
{% endblock %}
