{% extends "base.html" %}
{% block title %}{{ title }} - Kunjika{% endblock %}
{% block css_bootstrap %}
    {{ super() }}
    {# TODO: probably remove this and let the user set it manually? #}
    <style>
        body {
            padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
        }
    </style>
{% endblock %}

{% block css_site %}
    <link href="/static/css/kunjika.css" rel="stylesheet">
    <link href="/static/css/wmd.css" rel="stylesheet">
    <link href="/static/css/prettify.css" rel="stylesheet">
    <link href="/static/css/skills.css" rel="stylesheet">
    <script type="text/javascript" src="/static/js/Markdown.Converter.js"></script>
    <script type="text/javascript" src="/static/js/Markdown.Sanitizer.js"></script>
    <script type="text/javascript" src="/static/js/Markdown.Editor.js"></script>
    <script type="text/javascript"
            src="/static/js/run_prettify.js?lang=clj&amp;lbg=erlang&amp;lang=matlab&amp;lang=sql&amp;lang=vb&amp;lang=css&amp;lang=go&amp;lang=pascal&amp;lan=tcl&amp;lang=yaml&amp;lan=basic&amp;lang=dart&amp;lan=lua&amp;lang=scala&amp;lang=wiki&amp;lang=tex"></script>
    <script type="text/javascript" src="/static/js/Markdown.Extra.js"></script>
    <script type="text/javascript" src="/static/js/jquery.tokeninput.js"></script>

{% endblock %}
{% block container %}
    <div class="row-fluid">
    <div id="mainbar" class="">
    {% if pagination is not defined %}
        <div class="userheader">
            <h3>{{ name }}</h3>
            <!-- div class="fr"-->
            <div class="gravatar">
                <img src="{{ email | gravatar(size=100) }}"/>
                {% if g.user.id == 1 and user['role'] != 'admin' and user['banned'] == False %}
                    <div id="ban">
                        <button class="btn btn-danger" id={{ user_id }}>
                            Ban User
                        </button>
                    </div>
                {% elif g.user.id == 1 and user['role'] != 'admin' and user['banned'] == True %}
                    <div id="unban">
                        <button class="btn btn-success" id="{{ user_id }}">
                            Unban User
                        </button>
                    </div>
                {% endif %}
            <div class="user-rep">
                <h4 style="text-align: center;padding-top: 5px">{{ user['rep'] }}</h4>
                <span>reputation</span>
            </div>
            </div>
        </div>
        <div class="edit-button">
            {% if g.user.id == user_id %}
                <a href="/users/{{ user_id }}/edit_profile" class="btn"><i class="icon-edit"></i>Edit</a>
            {% endif %}
        </div>
        <div class="data">
            <table class="table-user">
                <tbody>
                <tr>
                    <th>Personal Details</th>
                    <td>First Name:</td>
                    <td>{{ fname }}</td>
                </tr>
                <tr>
                    <th></th>
                    <td>Last Name:</td>
                    <td>{{ lname }}</td>
                </tr>
                {% if g.user.id == user_id or g.user.id == 1 %}
                    <tr>
                        <th></th>
                        <td>Email:</td>
                        <td>{{ email }}</td>
                    </tr>
                {% endif %}
                <tr>
                    <td></td>
                </tr>
                <tr>
                    <th>Biography:</th>
                    <td>website:</td>
                    <td>{{ user['website']|urlize }}</td>
                </tr>
                <tr>
                    <th></th>
                    <td>location:</td>
                    <td>{{ user['location'] }}</td>
                </tr>
                <tr>
                    <th>Votes:</th>
                    <td>Up:</td>
                    <td>{{ user['votes_count']['up'] }}</td>
                </tr>
                <tr>
                    <th></th>
                    <td>Down:</td>
                    <td>{{ user['votes_count']['down'] }}</td>
                </tr>
                <tr>
                    <th></th>
                    <td>Questions:</td>
                    <td>{{ user['votes_count']['question'] }}</td>
                </tr>
                <tr>
                    <th></th>
                    <td>Answers:</td>
                    <td>{{ user['votes_count']['answers'] }}</td>
                </tr>
                {% if g.user.id == user_id %}
                    <tr>
                        <th></th>
                        <td class="invite"><p id="invite" class="btn btn-small btn-info"><i class="icon-envelope"></i> Invite
                            Friends</p>
                        </td>
                        <td></td>
                        <!--td class="create-group"><p id="group" class="btn btn-small btn-info"><i class="icon-group"></i> Create
                            Group</p>
                        </td-->
                    </tr>
                    <tr>
                        <th></th>
                        <td class="invite">
                            <form id="invite-form" class="invite" method="post"
                                  action="/send_invites">
                                <input id="email_list"
                                       name="email_list"
                                       placeholder="Semicolon separated emails." type="text" value="">
                                <br/>
                                <button class="btn btn-small btn-primary" type="submit">Send Invites</button>
                            </form>
                        </td>
                        <td></td>
                        <!--td class="create-group">
                            <form id="group-form" class="create-group" method="post"
                                  action="/create_group">
                                <input id="group-name"
                                       name="group-name" placeholder="Put in group name."
                                       type="text" value="">
                                <br/>
                                <button class="btn btn-small btn-primary" type="submit">Create Group</button>
                            </form>
                        </td-->
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
        <div class="user-nav">
            <ul class="nav nav-pills nav-stacked">
                <li><a class="btn btn-default" href="/users/{{ user_id }}/{{ name }}/bookmarks"><i class="icon-bookmark"></i> Bookmarks</a></li>
                <li><a class="btn btn-default" href="/users/{{ user_id }}/{{ name }}/messages"><i class="icon-envelope"></i> Messages</a></li>
                <li><a class="btn btn-default" href="/users/{{ user_id }}/{{ name }}/skills"><i class="icon-thumbs-up"></i> Skills</a></li>
            </ul>
        </div>
        <div style="clear:both">
        </div>
        <h4>Skills and Endorsements</h4>
        <div>
        <ul class="skills-section">
        {% for doc in skills recursive%}
            <li class="endorse-item">
                <span class="skill-pill">
                    <a class="endorse-count" href="javascript:void(0)" role="button" title="See endorsers">
                        <span class="num-endorsements">{{ doc['count'] }}
                        </span>
                    </a>
                    <span class="endorse-item-name ">
                        <a href="/vsearch/f?keywords={{ doc['tech'] }}" title="Search for {{ doc['tech'] }}" class="endorse-item-name-text">{{ doc['tech'] }}</a>
                    </span>
                    {% if g.user.id != user_id %}
                    {% if doc['has_end'] %}
                        <a id="#{{ doc['tech'] }}" class="skill-icon" title="Remove Endorsement" href="#"><i class="icon-minus" style="vertical-align: bottom;margin-left: 5px"></i></a>
                    {% else %}
                        <a id="#{{ doc['tech'] }}" class="skill-icon" title="Add Endorsement" href="#"><i class="icon-plus" style="vertical-align: bottom;margin-left: 5px"></i></a>
                    {% endif %}
                    {% endif %}
                </span>
                <div class="endorsers-container">
                    <ul class="endorsers-pics">
                    {% for endorsement in doc['endorsements'][:10] recursive %}
                        <li id="{{ endorsement['fuid'] }}-{{ doc['tech'] }}">
                        <img class="endorser small-thumbnail lazy-load" src="{{ endorsement['femail'] | gravatar(size=24) }}">
                        </li>
                    {% endfor %}
                        <li class="endorsers-action">
                            <a class="see-all-endorsers" href="#" role="button">
                                <i class="icon-caret-right"></i>
                            </a>
                        </li>
                    </ul>
                <div class="hr-line"></div>
                </div>
            </li>
            <div style="clear:both"></div>
        {% endfor %}
        </ul>
        </div>
        <div style="clear:both"></div>
    {% else %}
        <div id="users">
            <table>
                {% set i = 0 %}
                {% for user in users %}
                    {% if i < no_of_users %}
                        {% if (no_of_users - i) > 4 %}
                            {% set k = 4 %}
                        {% else %}
                            {% set k = no_of_users - i %}
                        {% endif %}
                        <tr>
                            {% for j in range(0, k) %}
                                <td>
                                    <div class="user-info user-hover">
                                        <div class="user-gravatar32">
                                            <a href="/users/{{ users[j + i]['id'] }}/{{ users[j + i]['name'] }}">
                                                <img src="{{ users[j + i]['email'] | gravatar(size=48) }}"/>
                                            </a>
                                        </div>
                                        <div class="user-details">
                                            <a href="/users/{{ users[j + i]['id'] }}/{{ users[j + i]['name'] }}">{{ users[j + i]['name'] }}</a><br>
                                            <span class="user-location">{{ users[j + i]['location'] }}</span><br>
                                                    <span class="reputation-score"
                                                          dir="ltr">{{ users[j + i]['rep'] }}</span>
                                        </div>
                                        <div class="user-tags">
                                        </div>
                                    </div>
                                </td>
                            {% endfor %}
                            {% set i = i + 4 %}
                        </tr>
                    {% endif %}
                {% endfor %}
            </table>
            {{ render_pagination(pagination) }}
        </div>
    {% endif %}
    </div>
    <script>
        $('body').on("click", ".btn-success", function () {
            id = $(this).attr('id');
            $.getJSON('/ban', {
                id: $(this).attr('id')
            }, function (data) {
                //$(id).removeClass('btn-success');
                //$(id).addClass('btn-danger');
            });
            return false;
        });
        $('body').on("click", ".btn-danger", function () {
            id = $(this).attr('id');
            $.getJSON('/ban', {
                id: $(this).attr('id')
            }, function (data) {
                //$(id).removeClass('btn-danger');
                //$(id).addClass('btn-success');
            });
            return false;
        });
        $('.skill-icon').on("click", function () {
            i = $(this).attr('id');
            icon = $(this).children('i');
            $.getJSON('/endorse', {
                id: $(this).attr('id')
            }, function (data) {
                if(data['success']) {
                    if($(icon).attr('class') == 'icon-plus') {
                        $(icon).removeClass('icon-plus');
                        $(icon).addClass('icon-minus');
                        $(icon).parent().prop('title', 'Remove Endorsement');
                        $(icon).parent().prev().prev().children('span').text(parseInt($(icon).parent().prev().prev().children('span').text()) + 1);
                        $(icon).parent().parent().next().children('ul').prepend(
                                '<li id="{{ g.user.id }}-' + i.slice(1, i.length) + '">' +
                                    '<img class="endorser small-thumbnail lazy-load" src="{{ g.user.user_doc['email'] | gravatar(size=24) }}">\
                                </li>'
                        );
                    } else {
                        $(icon).removeClass('icon-minus');
                        $(icon).addClass('icon-plus');
                        $(icon).parent().prop('title', 'Add Endorsement');
                        $(icon).parent().prev().prev().children('span').text(parseInt($(icon).parent().prev().prev().children('span').text()) - 1);
                        $('#' + '{{ g.user.id }}-' + i.slice(1, i.length)).remove();
                    }
                }
            });
            return false;
        });
        $(function () {
            $('a[data-toggle="tab"]').on('shown', function (e) {
                //save the latest tab using a cookie:
                $.cookie('last_tab', $(e.target).attr('href'));
            });
            //activate latest tab, if it exists:
            var lastTab = $.cookie('last_tab');
            if (lastTab) {
                $('a[href=' + lastTab + ']').tab('show');
            }
            else {
                // Set the first tab if cookie do not exist
                $('a[data-toggle="tab"]:first').tab('show');
            }
        });
        $("#invite").on("click", function () {
            $('#invite-form').slideToggle();
        });
        $("#group").on("click", function () {
            $('#group-form').slideToggle();
        });
        function send_email(form) {
        }
    </script>
    <script>
        $(document).ready(function () {
            var options = {
                //target:        '#output1',   // target element(s) to be updated with server response
                //beforeSubmit:  showRequest,  // pre-submit callback
                success: showResponse,  // post-submit callback

                // other available options:
                url: '/send_invites',         // override for form's 'action' attribute
                //type:      'post',        // 'get' or 'post', override for form's 'method' attribute
                //dataType:  'json',        // 'xml', 'script', or 'json' (expected server response type)
                clearForm: true,        // clear all form fields after successful submit
                resetForm: true        // reset the form after successful submit

                // $.ajax options can be used here too, for example:
                //timeout:   3000
            };

            // bind form using 'ajaxForm'
            $('form.invite').ajaxForm(options);
            function showResponse(responseText, statusText, xhr, $form) {
                responseJSON = jQuery.parseJSON(responseText);
                //alert(responseJSON.success);
                if (responseJSON.success == "true") {
                    flash('Your invites were successfully sent.', 'success')
                }
                else {
                    flash('Invites could not be sent. Please contact admin.')
                }
            }
        });
    </script>
{% endblock %}
