{% extends "base.html" %}
{% block title %}{{ title }} - Kunjika{% endblock %}
{% block css_bootstrap %}
{{ super() }}
<style>
  body {
  padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
  }
</style>
{% endblock %}

{% block css_site %}
<link href="/static/css/kunjika.css" rel="stylesheet">
<link href="/static/css/pygments.css" rel="stylesheet">
<script type="text/javascript" src="/static/js/jquery.form.js"></script>

{% endblock %}
{% block container %}
<div class="row-fluid">
  <div id="mainbar" class="mainbar">
    <h2 style="border-bottom: 1px #777 dotted">Tag Info About {{ tag['tag'] }}</h2>
    <div id="tag-info">{{ tag['info-html']|safe }}</div>
    <form action="/edit_tag/{{ tag['tag'] }}" method="post">
      <div class="controls">
        <button class="btn btn-primary">
          Edit this tag
        </button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
