{% extends "base.html" %}
{% block title %}{{ title }} - Kunjika{% endblock %}

{% block container %}
<div class="row">
   <div class="col-md-9">
    {% if pagination is not defined %}
    {% else %}
        <div class="page-header">
            <h3>Tags</h3>
        </div>
        <div class="row tags">
            {% set i = 0 %}
            {% for tag in tags %}
                    <div class="col-sm-4 col-xs-6">
                        <a href="/questions/tagged/{{ tag['tag']|urlencode }}" class="tag" title="" rel="tag">{{ tag['tag'] }}</a>
                        <span class="tag-multiplier-x">×</span>&nbsp;
                        <span class="tag-multiplier-count">{{ tag['count'] }}</span>
                        <a href="/info/{{ tag['tag'] }}" title="more information about '{{ tag['tag'] }}'" class="tag-more-info"><span class="fa fa-info-circle"></span></a>

                        {% if 'excerpt' in tag %}
                            <div class="excerpt">{{ tag['excerpt'] }}
                            {{ tag['info'][:108] }}
                            </div>
                        {% endif %}
                    </div>
                        
            {% endfor %}
            {{ render_pagination(pagination) }}
        </div>
    </div>
    {% endif %}
    <div class="col-md-3">
         <div class="site-stats">
                <div class="module">
                    <span class="fa fa-question"></span>
                    <span class="summary-count">{{ qcount }}</span>
                    <span class="summary-text">questions</span>
                </div>
                <div class="module">
                    <span class="fa fa-comment"></span>
                    <span class="summary-count">{{ acount }}</span>
                    <span class="summary-text">answers</span>
                </div>
                <div class="module">
                    <span class="fa fa-users"></span>
                    <span class="summary-count">{{ ucount }}</span>
                    <span class="summary-text">users</span>
                </div>
                <div class="module">
                    <span class="fa fa-tags"></span>
                    <span class="summary-count">{{ tcount }}</span>
                    <span class="summary-text">tags</span>
                </div>
            </div>
            <div id="popular-tags" class="module">
                <h3><a href="/tests">Tests</a></h3>
            </div>
            <div class="popular-tags" class="module">
                <div class="page-header">
                    <h4>Popular Tags</h4>
                </div>
                
                {% for tag in tag_list %}
                    <a href="/questions/tagged/{{ tag['tag']|urlencode }}" class="post-tag" title="show questions tagged '{{ tag['tag'] }}'" rel="tag">
                        {{ tag['tag'] }} 
                        <span class="tag-count">{{ tag['count'] }}</span> 
                    </a>
                    
                {% endfor %}
            </div>
    </div>
    </div>
{% endblock %}
