{% extends "base.html" %}
{% block title %}{{ title }} - Kunjika{% endblock %}
{% block css_bootstrap %}
    {{ super() }}
    {# TODO: probably remove this and let the user set it manually? #}
    <style>
        body {
            padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
        }
    </style>
    <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
    <META HTTP-EQUIV="Expires" CONTENT="-1">
{% endblock %}

{% block css_site %}
    <link href="/static/css/kunjika.css" rel="stylesheet">
    <link href="/static/css/tests.css" rel="stylesheet">
{% endblock %}
{% block container %}
    <div class="row-fluid">
    <table class="tests">
        <tr>
            <td>
                <ul>
                    <h4><li><a href="/ctest">C Programming</a></li></h4>
                    <h4><li><a href="/cpptest">C++ Programming</a></li></h4>
                    <h4><li><a href="/phptest">PHP Programming</a></li></h4>
                    <h4><li><a href="/pgsqltest">PostgreSQL</a></li></h4>
                </ul>
            </td>
            <td>
                <ul>
                    <h4><li><a href="/javatest">Java Programming</a></li></h4>
                    <h4><li><a href="/perltest">Perl Programming</a></li></h4>
                    <h4><li><a href="/jstest">Javascript Programming</a></li></h4>
                </ul>
            </td>
            <td>
                <ul>
                    <h4><li><a href="/perltest">Python 2 Programming</a></li></h4>
                    <h4><li><a href="/perltest">Python 3 Programming</a></li></h4>
                    <h4><li><a href="/jqtest">jQuery Programming</a></li></h4>
                </ul>
            </td>
            <td>
                <ul>
                    <h4><li><a href="/perltest">Ruby Programming</a></li></h4>
                    <h4><li><a href="/cstest">C# Programming</a></li></h4>
                    <h4><li><a href="/mysqltest">MySQL</a></li></h4>
                </ul>
            </td>
        </tr>
    </table>
    </div>
{% endblock %}
