<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-Equiv="Cache-Control" Content="no-cache"/>
    <meta http-Equiv="Pragma" Content="no-cache"/>
    <meta http-Equiv="Expires" Content="0"/>


    <title> - Kunjika</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">




    <link href="/static/css/bootstrap.min.css" rel="stylesheet">


    <style>
        body {
            padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
        }
    </style>


    <link href="/static/css/bootstrap-responsive.min.css" rel="stylesheet">


    <link href="/static/css/base.css" rel="stylesheet">
    <link href="/static/css/wmd.css" rel="stylesheet">
    <script type="text/javascript" src="/static/js/Markdown.Converter.js"></script>
    <script type="text/javascript" src="/static/js/Markdown.Sanitizer.js"></script>
    <script type="text/javascript" src="/static/js/Markdown.Editor.js"></script>






    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->




  </head>


  <body class="" id="">
  <div id="wrap">









    <div class="container container-primary">

    <div class="masthead">
    <h3 class="muted">Kunjika</h3>

    <div class="navbar">
        <div class="navbar-inner">
            <div class="container">
                <ul class="nav">
                    <li><a href="/questions">Questions</a></li>
                    <li><a href="/tags">Tags</a></li>
                    <li><a href="/users">Users</a></li>
                    <li><a href="/unasnweres">Unanswered</a></li>
                    <li class="active"><a href="/ask" class="ask">Ask</a></li>

                        <li><a href="/users/1" class="login">Shiv</a></li>
                        <li><a href="/logout" class="login">Logout</a></li>

                </ul>
            </div>
        </div>
    </div>
    <!-- /.navbar -->
    <div class="askbar" id="askbar">
        <form class="ask-form" method="post" aciton="/ask_question">

            <input id="csrf_token" name="csrf_token" type="hidden" value="20130526204242##92eda8662238227530ca4410a54179bd9674b47f">

      <div class="control-group">
      <label class="control-label" for="question">Question</label><div class="controls">

          <input class="question input-x-large span6" id="question" name="question" placeholder="Please ask your question here?" style="margin-left:25px;" type="text" value="">
      </div>
  </div>

            <div class="wmd-panel">
                <div id="wmd-button-bar"></div>

      <div class="control-group">
      <label class="control-label" for="description"></label><div class="controls">

          <textarea class="wmd-input" id="wmd-input" name="description" placeholder="Please describe your question here." stlyle="margin-left:5px;"></textarea>
      </div>
  </div>

                <div id="wmd-preview" class="wmd-panel wmd-preview"></div>
            </div>
        </form>
    </div>
    <div id="sidebar" style="float:right">
        side bar
    </div>


    </div>




        <div id="push"></div>




    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/static/js/jquery-1.9.1.min.js"><\/script>')</script>


      <script src="/static/js/bootstrap.min.js"></script>



      <!--<script>


          var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
          (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
          g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
          s.parentNode.insertBefore(g,s)}(document,'script'));


          </script>-->




  </div>


<div class="container">
    <div class="footer" style="position:absolute; bottom:0;">
    <hr/>
        <p>&copy; 2013 <a href="http://libreprogramming.org">libreprogramming.org</a>. Developed by Binita Ruby,
            Shashikant &amp; Shiv Shankar Dayal.<br/>
            Licensed under GNU GPL. Contents are under GNU GPL.</p>
    </div>
    </div>
    <script type="text/javascript">
        (function () {
            var converter1 = Markdown.getSanitizingConverter();

            converter1.hooks.chain("preBlockGamut", function (text, rbg) {
                return text.replace(/^ {0,3}""" *\n((?:.*?\n)+?) {0,3}""" *$/gm, function (whole, inner) {
                    return "<blockquote>" + rbg(inner) + "</blockquote>\n";
                });
            });

            var editor1 = new Markdown.Editor(converter1);

            editor1.run();
        })();
    </script>

  </body>
</html>