{% extends "base.html" %}
{% block title %}{{ title }} - Kunjika{% endblock %}
{% block css_bootstrap %}
    {{ super() }}
    {# TODO: probably remove this and let the user set it manually? #}
    <style>
        body {
            padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
        }
    </style>
    <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
    <META HTTP-EQUIV="Expires" CONTENT="-1">
{% endblock %}

{% block css_site %}
    <link href="/static/css/kunjika.css" rel="stylesheet">
    <link href="/static/css/tests.css" rel="stylesheet">
{% endblock %}
{% block container %}
    <div class="row-fluid">
    <table class="tests">
        <tbody>
        <tr colspan="4"><h3>You can take each of these tests only once a month</h3></tr>
        <tr>
            <td><h4><a href="/ctest">C Programming</a></h4>
                This is a language test for C Programming language. The test taker is supposed to be well versed with
                all the aspects of C Programming language.
            </td>
            <td><h4><a href="/cpptest">C++ Programming</a></h4>
                This is a language test for C++ Programming language. The test taker is supposed to be well versed with
                all the aspects of C++ Programming language.
            </td>
            <td><h4><a href="/javatest">Java Programming</a></h4>
                This is a language test for Java Programming language. The test taker is supposed to be well versed with
                all the aspects of Java Programming language.
            </td>
            <td><h4><a href="/perltest">Perl Programming</a></h4>
                This is a language test for Perl Programming language. The test taker is supposed to be well versed with
                all the aspects of Perl Programming language.
            </td>
            </tr>
        <tr>
            <td><h4><a href="/python2test">Python2 Programming</a></h4>
                This is a language test for Python Programming language. The test taker is supposed to be well versed with
                all the aspects of Python Programming language. The test is against latest Python version 2.
            </td>
            <td><h4><a href="/python3test">Python3 Programming</a></h4>
                This is a language test for Python Programming language. The test taker is supposed to be well versed with
                all the aspects of Python Programming language. The test is against latest Python version 3.
            </td>
            <td><h4><a href="/phptest">PHP Programming</a></h4>
                This is a language test for PHP Programming language. The test taker is supposed to be well versed with
                all the aspects of PHP Programming language.
            </td>
            <td><h4><a href="/rubytest">Ruby Programming</a></h4>
                This is a language test for Ruby Programming language. The test taker is supposed to be well versed with
                all the aspects of Ruby Programming language.
            </td>
        </tr>
        <tr>
            <td><h4><a href="/jstest">Javascript Programming</a></h4>
                This is a language test for Javascript Programming language. The test taker is supposed to be well versed with
                all the aspects of Javascript Programming language.
            </td>
            <td><h4><a href="/nettest">C# Programming</a></h4>
                This is a language test for C# Programming language. The test taker is supposed to be well versed with
                all the aspects of C# Programming language. The test will be against .Net framework 4.0.
            </td>
        </tr>
        </tbody>
    </table>
    </div>
{% endblock %}