{% extends "base.html" %}
{% block title %}{{ title }} - Kunjika{% endblock %}

{% block css_site %}
    <link href="/static/css/wmd.css" rel="stylesheet">
    <link href="/static/css/prettify.css" rel="stylesheet">
    <link href="/static/css/token-input.css" rel="stylesheet">
    {{ super() }}
    <script type="text/javascript" src="/static/js/Markdown.Converter.js"></script>
    <script type="text/javascript" src="/static/js/Markdown.Sanitizer.js"></script>
    <script type="text/javascript" src="/static/js/Markdown.Editor.js"></script>
    
    <script type="text/javascript" src="/static/js/Markdown.Extra.js"></script>
    <script type="text/javascript" src="/static/js/jquery.tokeninput.js"></script>
    <script type="text/javascript" src="/static/js/jquery.cookie.js"></script>

{% endblock %}
{% block container %}
<div class="row">
    <div class="col-md-12" >
    {% if pagination is not defined %}
        <div class="row">
            {% if g.user.id == 1 and user['role'] != 'admin' %}
            <div class="col-xs-12">
                <div class="alert alert-warning alert-dismissible">
                    <strong>Admin Options </strong>
                    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    {% if user['banned'] == False %}
                            <button class="btn btn-sm btn-danger" id={{ user_id }}>
                                Ban User
                            </button>
                    {% elif g.user.id == 1 and user['role'] != 'admin' and user['banned'] == True %}
                            <button class="btn btn-sm btn-success" id="{{ user_id }}">
                                Unban User
                            </button>
                    {% endif %}
                </div>
            </div>
           {% endif %}
            <div class="col-md-4">
                <div class="col-xs-12">
                    <img src="{{ email | gravatar(size=230) }}" class="img-thumbnail" />
                </div>
                <div class="col-xs-12">
                    <div class="user-name">
                        <h1>{{ name }}</h1>
                        <h4 class="text-muted">{{ user['rep'] }} reputation </h4>
                    </div>
                    <hr>
                    <ul class="fa-ul text-info lead">
                        {% if user['location'] %}
                            <li class="location">
                                <i class="fa-li fa fa-map-marker"></i> {{user['location']}}
                            </li>
                        {% endif %}
                        {% if g.user.id == user_id or g.user.id == 1 %}
                            <li class="email">
                                <i class="fa-li fa fa-envelope-o"></i> <a class="email" href="mailto:{{ email }}">{{ email }}</a>
                            </li>
                        {% endif %}
                        
                        {% if user['website'] %}
                            <li class="location">
                                <i class="fa-li fa fa-link"></i> {{ user['website']|urlize }}
                            </li>
                        {% endif %}
                    </ul>
                    {% if user['location'] or g.user.id == user_id or g.user.id == 1 or user['website'] %}
                        <hr>
                   {% endif %}
                   <div class="row user-stats">
                        <div class="col-xs-3 text-center text-primary lead">
                            <div>
                                {{user['votes_count']['question']}}
                            </div>
                            <div class="text-sm">
                                Questions
                            </div>
                        </div>
                        <div class="col-xs-3 text-center text-success lead">
                            <div>
                                {{user['votes_count']['answers']}}
                            </div>
                            <div class="text-sm">
                                Answers
                            </div>
                        </div>
                        <div class="col-xs-3 text-center text-info lead">
                            <div>
                                {{user['votes_count']['up']}}
                            </div>
                            <div class="text-sm">
                                Up Votes
                            </div>
                        </div>
                        <div class="col-xs-3 text-center text-danger lead">
                            <div>
                                {{user['votes_count']['down']}}
                            </div>
                            <div class="text-sm">
                                Down Votes
                            </div>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
            <div class="col-md-7">
                <ul class="nav nav-tabs nav-justified" role="tablist">
                    <li class="active">
                        <a href="#about-user" data-toggle="tab">
                            <i class="fa fa-user"></i> About
                        </a>
                    </li>
                    {% if g.user.id == user_id %}
                    <li>
                        <a href="/users/{{ user_id }}/{{ name|urlencode }}/bookmarks"><i class="fa fa-bookmark"></i> Bookmarks</a>
                    </li>
                     {% endif %}
                    <li>
                        <a href="/users/{{ user_id }}/{{ name|urlencode }}/messages"><i class="fa fa-envelope"></i> Messages</a>
                    </li>
                    <li>
                        <a href="/users/{{ user_id }}/{{ name|urlencode }}/skills"><i class="fa fa-thumbs-up"></i> Skills</a>
                    </li>
                    <li>
                        <a href="#questions" data-toggle="tab"><i class="fa fa-question"></i> Questions</a>
                    </li>
                    <li>
                        <a href="#answers" data-toggle="tab"><i class="fa fa-comments"></i> Answers</a>
                    </li>
                    
                </ul>
                <div id="myTabContent" class="tab-content row">
                    <div class="tab-pane active in" id="about-user">
                        {% if g.user.id == user_id %}
                        <br>
                        <div class="col-xs-12">
                                <a href="/users/{{ user_id }}/edit_profile" class="pull-right btn btn-primary"><i class="fa fa-cog"></i> Edit Profile</a>
                        </div>
                        {% endif %}
                        <div class="col-xs-12">
                            <br>
                            <div class="user-about-me note" id="about-me">{{ user['about-me'] }}</div>
                        </div>
                        <div class="col-xs-12">
                            <table class="table-user">
                                <tbody>
                                {% if g.user.id == user_id %}
                                    <tr>
                                        <th></th>
                                        <td class="invite"><p id="invite" class="btn btn-small btn-info"><i class="fa fa-envelope"></i> Invite
                                            Friends</p>
                                        </td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th></th>
                                        <td class="invite">
                                            <form id="invite-form" class="invite" method="post"
                                                  action="/send_invites" role="form">
                                                <div class="form-group">
                                                    <textarea id="email_list" name="email_list" placeholder="Semicolon separated emails." type="text" class="form-control" cols="50" rows="5"></textarea>  
                                                </div>
                                                <div class="form-group">
                                                    <button class="btn btn-small btn-primary" type="submit">Send Invites</button>
                                                </div>
                                            </form>
                                        </td>
                                        <td></td>
                                    </tr>
                                {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="questions">
                        <div id="qsummary">
                            {% if questions != None %}
                                {% for question in questions %}
                                    <div id="qsummary-{{ question['qid'] }}" class="qsummary narrow">
                                        <div class="cp">
                                            <div class="votes">
                                                <div class="mini-counts">{{ question['votes'] }}</div>
                                                <div>votes</div>
                                            </div>
                                            {% if question['acount'] == 0 %}
                                                <div class="status unanswered">
                                                    <div class="mini-counts">{{ question['acount' ] }}</div>
                                                    <div>answers</div>
                                                </div>
                                            {% else %}
                                                <div class="status answered">
                                                    <div class="mini-counts">{{ question['acount' ] }}</div>
                                                    <div>answers</div>
                                                </div>
                                            {% endif %}
                                            <div class="views">
                                                <div class="mini-counts">{{ question['views'] }}</div>
                                                <div>views</div>
                                            </div>
                                        </div>
                                        <div class="summary-user">
                                            <h4><a class="quesiton-hyperlink"
                                                   href="/questions/{{ question['qid'] }}/{{ question['url'] }}">{{ question['title'] }}</a>
                                            </h4>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% endif %}
                            <div class="clearfix"></div>
                            {{ render_user_question_pagination(question_pagination) }}
                        </div>
                    </div>

                    <div class="tab-pane fade" id="answers">
                        {% if answers != None and aids != None %}
                            {% for question in answers %}
                                <div id="qsummary-{{ question['qid'] }}" class="qsummary narrow">
                                    <div class="cp">
                                        <div class="votes">
                                            <div class="mini-counts">{{ question['votes'] }}</div>
                                            <div>votes</div>
                                        </div>
                                        {% if question['acount'] == 0 %}
                                            <div class="status unanswered">
                                                <div class="mini-counts">{{ question['acount' ] }}</div>
                                                <div>answers</div>
                                            </div>
                                        {% else %}
                                            <div class="status answered">
                                                <div class="mini-counts">{{ question['acount' ] }}</div>
                                                <div>answers</div>
                                            </div>
                                        {% endif %}
                                        <div class="views">
                                            <div class="mini-counts">{{ question['views'] }}</div>
                                            <div>views</div>
                                        </div>
                                    </div>
                                    <div class="summary-user">
                                        <h4><a class="quesiton-hyperlink"
                                               href="/questions/{{ question['qid'] }}/{{ question['url'] }}#answer-{{ aids[loop.index0] }}">{{ question['title'] }}</a>
                                        </h4>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                        <div class="clearfix"></div>
                        {{ render_user_answer_pagination(answer_pagination) }}
                    </div>
                </div>
            </div>
        </div>
        
        <div class="clearfix"></div>
        {% if g.user.id != user_id %}
            <br/>
            <div style="margin-top: 40px">
            </div>
        {% endif %}

        
        <div class="clearfix">
        </div>
    {% else %}
        <div class="page-header">
            <h3>Users</h3>
        </div>
        <div class="users row">
                {% set i = 0 %}
                {% for user in users %}
                <div class="col-md-3 col-sm-4 col-xs-6 user-wrapper">
                    <div class="user-details">
                        <div class="user-image">
                            <a href="/users/{{ user['id'] }}/{{ user['name']|urlencode }}">
                                <img src="{{ user['email'] | gravatar(size=100) }}"  class="img-circle"/>
                            </a>
                        </div>
                        <div class="user-info-block">
                            <div class="user-heading">
                              <a href="/users/{{ user['id'] }}/{{ user['name']|urlencode }}" class="user-name">{{ user['name'] }}</a><br>
                               <span class="help-block location">{{ user['location'] }}</span>
                               <span class="reputation-score" dir="ltr"><span class="fa fa-graduation-cap"></span> {{ user['rep'] }} points </span>
                           </div>
                        </div>              
                    </div>
                </div>
                {% endfor %}
            {{ render_pagination(pagination) }}
        </div>
    {% endif %}
    </div>
</div>
    <script>
        $('body').on("click", ".btn-success", function () {
            id = $(this).attr('id');
            $.getJSON('/ban', {
                id: $(this).attr('id')
            }, function (data) {
                //$(id).removeClass('btn-success');
                //$(id).addClass('btn-danger');
            });
            return false;
        });
        $('body').on("click", ".btn-danger", function () {
            id = $(this).attr('id');
            $.getJSON('/ban', {
                id: $(this).attr('id')
            }, function (data) {
                //$(id).removeClass('btn-danger');
                //$(id).addClass('btn-success');
            });
            return false;
        });
        $(function () {
            $('a[data-toggle="tab"]').on('shown', function (e) {
                //save the latest tab using a cookie:
                $.cookie('last_tab', $(e.target).attr('href'));
            });
            //activate latest tab, if it exists:
            var lastTab = $.cookie('last_tab');
            if (lastTab) {
                $('a[href=' + lastTab + ']').tab('show');
            }
            else {
                // Set the first tab if cookie do not exist
                $('a[data-toggle="tab"]:first').tab('show');
            }
        });
        $("#invite").on("click", function () {
            $('#invite-form').slideToggle();
        });
        $("#group").on("click", function () {
            $('#group-form').slideToggle();
        });
        function send_email(form) {
        }
    </script>
    <script>
        $(document).ready(function () {
            var options = {
                //target:        '#output1',   // target element(s) to be updated with server response
                //beforeSubmit:  showRequest,  // pre-submit callback
                success: showResponse,  // post-submit callback

                // other available options:
                url: '/send_invites',         // override for form's 'action' attribute
                //type:      'post',        // 'get' or 'post', override for form's 'method' attribute
                //dataType:  'json',        // 'xml', 'script', or 'json' (expected server response type)
                clearForm: true,        // clear all form fields after successful submit
                resetForm: true        // reset the form after successful submit

                // $.ajax options can be used here too, for example:
                //timeout:   3000
            };

            // bind form using 'ajaxForm'
            $('form.invite').ajaxForm(options);
            function showResponse(responseText, statusText, xhr, $form) {
                responseJSON = jQuery.parseJSON(responseText);
                //alert(responseJSON.success);
                if (responseJSON.success == "true") {
                    flash('Your invites were successfully sent.', 'success')
                }
                else {
                    flash('Invites could not be sent. Please contact admin.')
                }
            }
        });
    </script>
    <script type="text/javascript">
        var converter = new Markdown.getSanitizingConverter();
        Markdown.Extra.init(converter, {
            extensions: "all",
            highlighter: "prettify",
            table_class: "table-bordered table"
        });

        var originalHTML = $("#about-me").text();
        var convertedHTML = converter.makeHtml(originalHTML);
        $("#about-me").html(convertedHTML);
    </script>
    <!--script>
        $('#group-name').keyup(function () {
            value = $(this).val();
            //alert(value);
            $.getJSON('/check_group_name', {
                val: value
            }, function (data) {
                if (data.success == 'true') {
                    $('#group-name').css('color', "#070");
                } else {
                    $('#group-name').css('color', "#700");
                }
                if (value == '') {
                    $('#group-name').css('color', "#333");
                }
            });
            return false;
        });
    </script-->
{% endblock %}
