{% extends "base.html" %}
{% block title %}{{ title }} - Kunjika{% endblock %}
{% block css_bootstrap %}
    {{ super() }}
    {# TODO: probably remove this and let the user set it manually? #}
    <style>
        body {
            padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
        }
    </style>
{% endblock %}

{% block css_site %}
    <link href="/static/css/kunjika.css" rel="stylesheet">
    <link href="/static/css/wmd.css" rel="stylesheet">
    <link href="/static/css/solarized_light.css" rel="stylesheet">
    <!--<link href="/static/css/googlecode.css" rel="stylesheet">-->
    <link href="/static/css/token-input.css" rel="stylesheet">
    <script type="text/javascript" src="/static/js/Markdown.Converter.js"></script>
    <script type="text/javascript" src="/static/js/Markdown.Sanitizer.js"></script>
    <script type="text/javascript" src="/static/js/Markdown.Editor.js"></script>
    <script type="text/javascript" src="/static/js/Markdown.Extra.js"></script>
    <script type="text/javascript" src="/static/js/jquery.tokeninput.js"></script>
    <script type="text/javascript" src="/static/js/highlight.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#question").parent().addClass("ui-widget");
        });
    </script>
{% endblock %}
{% block container %}
    <div class="row-fluid">
    <h3>Please write your article</h3>
    <div class="mainbar" id="mainbar">
        <form class="ask-form" method="post" aciton="/write">
            {% from "macros.html" import render_field %}
            {{ form.csrf_token }}
            {{ render_field(form.title, class="question input-x-large span10", style="margin-left:25px;", placeholder="Please post your article's title here?") }}
            <div class="wmd-panel">
                <div id="wmd-button-bar"></div>
                {{ render_field(form.content, class="wmd-input", id="wmd-input", stlyle="margin-left:5px;", placeholder="Please post your article here.") }}
                <div id="insertImageDialog" title="&nbsp;Insert Image or File">
                    <h6>From the web</h6>

                    <p>
                        <input type="text" placeholder="Enter url e.g. http://yoursite.com/image.jpg"/>
                    </p>
                    <h6>From your computer (Max. 2MB)</h6>
                    <span class="loading-small"></span>
                    <input type="file" name="file" id="file" data-action="/image_upload"/>
                </div>
                <div id="wmd-preview" class="wmd-panel wmd-preview"></div>
                <div style="clear:both;"></div>
                {{ render_field(form.tags, class="input-xlarge span10", id="kunjika-tags", style="margin-left:30px; margin-top=30px;", placeholder="comma(,) to separate tags, hyphenation to join words, max 5 tags") }}
                <div class="controls">
                    <button class="btn btn-primary">
                        Publish
                    </button>
                    <button class="btn btn-primary" formaction="/save_draft" method="POST" style="margin-left: 20px">
                        Save Draft
                    </button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block page_footer %}
    <div class="row-fluid">
        <div class="container">
            <hr/>
            <p>&copy; 2013 <a href="https://10hash.com">10hash.com</a>. Developed by Binita Ruby,
                Shashikant &amp; Shiv Shankar Dayal.<br/>
                Licensed under GNU GPL. Contents are under GNU GPL.</p>
        </div>
    </div>
    </div>
    <script type="text/javascript">
        (function () {
            if ($('#wmd-input').length > 0) {
                var converter = new Markdown.getSanitizingConverter();
                var help = function () {
                    window.open('{{ config['HOST_URL'] }}editing-help');
                }
                Markdown.Extra.init(converter, {
                    extensions: "all",
                    highlighter: "highlight",
                    table_class: "table-bordered table"
                });

                var editor = new Markdown.Editor(converter, null, { handler: help });

                var $dialog = $('#insertImageDialog').dialog({
                    autoOpen: false,
                    closeOnEscape: false,
                    open: function (event, ui) {
                        $(".ui-dialog-titlebar-close").hide();
                    }
                });
                var $loader = $('span.loading-small', $dialog);
                var $url = $('input[type=text]', $dialog);
                var $file = $('input[type=file]', $dialog);

                editor.hooks.set('insertImageDialog', function (callback) {

                    // dialog functions
                    var dialogInsertClick = function () {
                        callback($url.val().length > 0 ? $url.val() : null);
                        dialogClose();
                    };

                    var dialogCancelClick = function () {
                        dialogClose();
                        callback(null);
                    };

                    var dialogClose = function () {
                        // clean up inputs
                        $url.val('');
                        $file.val('');
                        $dialog.dialog('close');
                    };

                    // set up dialog button handlers
                    $dialog.dialog('option', 'buttons', {
                        'Insert': dialogInsertClick,
                        'Cancel': dialogCancelClick
                    });

                    var uploadStart = function () {
                        $loader.show();
                    };

                    var uploadComplete = function (response) {
                        $loader.hide();
                        if (response.success) {
                            callback(response.imagePath);
                            dialogClose();
                        } else {
                            alert(response.message);
                            $file.val('');
                        }
                        editor.refreshPreview();
                    };

                    // upload
                    $file.unbind('change').ajaxfileupload({
                        action: $file.attr('data-action'),
                        onStart: uploadStart,
                        onComplete: uploadComplete
                    });

                    // open the dialog
                    $dialog.dialog('open');

                    return true; // tell the editor that we'll take care of getting the image url
                });
                //editor.hooks.chain("onPreviewRefresh", highlight); // google code prettify
                hljs.initHighlightingOnLoad();
                editor.run();
            }
        })();
    </script>
{% endblock %}
